@import '../../less/colors';
@import '../../less/spacing';

.ListEntries {
	flex-direction: row;
	flex-wrap: wrap;
	height: 145px;
	overflow-y: auto;
	align-items: flex-start;
	align-content: flex-start;
}

.ListEntries__item {
	flex-direction: row;
	align-items: flex-start;
	padding: @sp-04 @sp-08;
	width: 100%;
}

.ListEntries__item--highlight {
	animation: highlight-fade 2s ease-out;
}

.ListEntries__icon {
	font-size: 19px;
	color: @azure;
	padding-top: @sp-02;
	cursor: pointer;
}
.ListEntries__item--highlight > .ListEntries__icon {
	color: @white;
}

.ListEntries__name {
	flex: 1;
	padding-left: @sp-08;
}

@media (min-width: 768px) {
	.ListEntries__gridItem {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.ListEntries__gridItem {
		width: 33.3333%;
	}
}

@media (min-width: 1200px) {
	.ListEntries__gridItem {
		width: 25%;
	}
}
