@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/spacing';

.ListInput {
	margin-top: @sp-12;
}

.ListInput__label {
	flex-direction: row;
	margin-bottom: @sp-04;
}

.ListInput__notice {
	@font-10-400();
	color: @orange;
	margin-left: @sp-12;
}

.ListInput__empty {
	@font-16-400();
	color: @font-color-3;
	white-space: pre-line;
	height: 145px;
	text-align: center;
	margin-top: @sp-16;
}
