@import '../../less/spacing';
@import '../../less/utils';

.ListEntries {
	flex-flow: row wrap;
	height: 145px;
	overflow-y: auto;
	align-items: flex-start;
	align-content: flex-start;
}

.ListEntries__item {
	flex-direction: row;
	align-items: center;
	padding: @sp-04 @sp-08;
	width: 100%;
}

.ListEntries__item--highlight {
	animation: highlight-fade 2s ease-out;
}

.ListEntries__icon {
	@icon-button-nested();
	font-size: 16px;
	padding: @sp-02;

	.ListEntries__item--highlight > & {
		color: var(--link-primary);
	}
}

.ListEntries__name {
	flex: 1;
	padding-left: @sp-04;
}

@media (min-width: 768px) {
	.ListEntries__gridItem {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.ListEntries__gridItem {
		width: 33.3333%;
	}
}

@media (min-width: 1200px) {
	.ListEntries__gridItem {
		width: 25%;
	}
}
