@import '../../less/colors';
@import '../../less/fonts';

.ListInput__label {
	flex-direction: row;
}

.ListInput__notice {
	@font-10-400();
	color: @orange;
	margin-left: 12px;
}

.ListInput__empty {
	@font-16-400();
	color: @font-color-3;
	white-space: pre-line;
	height: 145px;
	text-align: center;
	margin-top: 20px;
}
