// This file is used to generate Colors.js,
// it will be processed on commit, to generate manually run `npm run update-colors`

@black: #000000;
@azure: #00a3e6;
@sea: #0085c4;
@ocean: #0067a2;
@cerulean: #004f7c;
@midnight: #003656;
@oxford: #1d2333;
@prussian: #2c354d;
@fiord: #47526b;
@sky: #aed3e7;
@bondi: #258cac;
@emerald: #00dfa0;
@dartmouth: #0f6244;
@persian: #009688;
@neon: #90ea00;
@violet: #a728ee;
@red: #ff0000;
@orange: #ffac00;
@burnt: #da6900;
@goldenrod: #ccaf00;
@battleship: #666666;
@slate: #70788a;
@silver: #a3aab4;
@white: #ffffff;

@font-color-1: fade(@white, 90%);
@font-color-2: fade(@white, 65%);
@font-color-3: fade(@white, 50%);
@font-color-black: fade(@black, 87%);

@modal-bg: fade(@black, 50%);

@form-bg: @oxford;
@form-field-border: @prussian;
@form-field-bg: @prussian;
@form-field-hint: @sky;
@form-field-error: @burnt;
