@import 'colors-dark';
@import 'shadows';

:root {
	--font-color-1: fade(@white, 90%);
	--font-color-2: fade(@white, 65%);
	--font-color-3: fade(@white, 50%);
	--font-color-i1: fade(@black, 90%);
	--separator-color: fade(@white, 17%);
	--page-bg: @oxford;
	--modal-bg: fade(@black, 50%);
	--action-color: @azure;
	--notice-color: @orange;
	--unresolved-color: @burnt;
	--warn-color: @goldenrod;
	--error-color: @red;
	--disabled-color: @battleship;
	--current-value-color: @emerald;
	--selection-bg: fade(@azure, 40%);
	--primary-button-hover: @iceberg;
	--primary-button-active: @crystal;
	--secondary-button-hover: fade(@sky, 15%);
	--secondary-button-active: fade(@sky, 30%);
	--check-color: @white;
	--check-border: @slate;
	--check-bg: @ocean;
	--check-error: @burnt;
	--focus-normal-border: @ocean;
	--focus-normal-shadow: @sky;
	--focus-error-border: @burnt;
	--focus-error-shadow: @orange;
	--menu-hover: fade(@sky, 7.5%);
	--menu-current: fade(@sky, 15%);
	--form-field-border: @prussian;
	--form-field-bg: @prussian;
	--form-field-hint: @sky;
	--form-field-error: @burnt;
	--form-field-hover: fade(@fiord, 65%);
	--form-field-dialog-bg: @oxford;
	--toggle-checked: @emerald;
	--toggle-checked-track: @dartmouth;
	--toggle-checked-hover: fade(@emerald, 45%);
	--toggle-dot: @silver;
	--toggle-hover: fade(@sky, 15%);
	--toggle-focus: fade(@sky, 30%);
	--toggle-active: fade(@sky, 25%);
	--table-selected-bg: @ocean;
	--table-alt-bg: fade(@prussian, 50%);
	--highlight-bg: @bondi;
	--toast-info-color: var(--font-color-1);
	--toast-info-bg: @ocean;
	--toast-warn-color: var(--font-color-i1);
	--toast-warn-bg: @goldenrod;
	--toast-error-color: var(--font-color-i1);
	--toast-error-bg: @burnt;
	--toast-close-hover: fade(@black, 12%);
	--toast-close-active: fade(@black, 20%);
	--toast-time-color: fade(@white, 75%);
	--tooltip-color: var(--font-color-1);
	--tooltip-bg: @black;
	--scrollbar-face: @slate;
	--scrollbar-arrow: @bondi;
	--bg-01: @bg-01;
	--bg-02: @bg-02;
	--bg-03: @bg-03;
	--bg-04: @bg-04;
	--bg-06: @bg-06;
	--bg-08: @bg-08;
	--bg-12: @bg-12;
	--bg-16: @bg-16;
	--bg-24: @bg-24;
	--shadow-01: @shadow-dark-01;
	--shadow-02: @shadow-dark-02;
	--shadow-03: @shadow-dark-03;
	--shadow-04: @shadow-dark-04;
	--shadow-06: @shadow-dark-06;
	--shadow-08: @shadow-dark-08;
	--shadow-12: @shadow-dark-12;
	--shadow-16: @shadow-dark-16;
	--shadow-24: @shadow-dark-24;
	--print-color: @black;
	--print-medium: fade(@black, 65%);
}
