@import 'colors';

*,
*:before,
*:after {
	box-sizing: border-box;
}

div,
form,
main,
header,
footer {
	display: flex;
	flex-direction: column;
	flex: none;
}

a {
	color: @azure;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease-out;

	&:hover,
	&:focus {
		color: @sea;
	}

	&:active {
		color: @ocean;
	}
}

ol {
	margin: 4px 0;
	padding-left: 1em;
}

table {
	border-collapse: collapse;
}

.Dialog {
	a {
		color: @sea;
	}

	a:hover,
	a:focus {
		color: @cerulean;
	}
}

@keyframes highlight-fade {
	0% {
		background: @azure;
	}
}

@media print {
	html {
		height: auto;
		color: @black;
		background-color: @white;
	}

	a {
		color: @black;
	}
}
