@import 'focus';
@import 'spacing';

:root {
	color: var(--font-color-1);
	background-color: var(--page-bg);

	@media print {
		height: auto;
		color: var(--print-color);
		background-color: transparent;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

div,
form,
main,
header,
footer {
	display: flex;
	flex-direction: column;
	flex: none;
}

a {
	@focus-visible();
	color: var(--action-color);
	text-decoration: none;
	padding: 0 @sp-02;
	margin: @sp-02;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		text-decoration: underline;
	}

	// workaround for browsers that don't support :focus-visible
	&:focus:not(:focus-visible) {
		text-decoration: none;
	}

	@media print {
		color: var(--print-color);
	}
}

ol {
	margin: @sp-04 0;
	padding-left: @sp-16;
}

table {
	border-collapse: collapse;
}

// stylelint-disable-next-line @bluecat/selector-bem
.assistive-text {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

@keyframes highlight-fade {
	0% {
		background-color: var(--highlight-bg);
	}
}
