@import 'colors';
@import 'focus';
@import 'spacing';

*,
*::before,
*::after {
	box-sizing: border-box;
}

div,
form,
main,
header,
footer {
	display: flex;
	flex-direction: column;
	flex: none;
}

a {
	@focus-visible();
	color: @action-color;
	text-decoration: none;
	padding: 0 @sp-02;
	margin: @sp-02;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		text-decoration: underline;
	}

	// workaround for browsers that don't support :focus-visible
	&:focus:not(:focus-visible) {
		text-decoration: none;
	}
}

ol {
	margin: @sp-04 0;
	padding-left: @sp-16;
}

table {
	border-collapse: collapse;
}

@keyframes highlight-fade {
	0% {
		background: @bondi;
	}
}

@media print {
	html {
		height: auto;
		color: @black;
		background-color: @white;
	}

	a {
		color: @black;
	}
}
