@import 'colors-light';
@import 'shadows';

:root {
	--font-color-1: fade(@black, 95%);
	--font-color-2: fade(@black, 70%);
	--font-color-3: fade(@black, 55%);
	--font-color-i1: fade(@white, 95%);
	--separator-color: fade(@black, 17%);
	--page-bg: @white;
	--modal-bg: fade(@white, 60%);
	--action-color: @cobalt;
	--notice-color: @orange;
	--unresolved-color: @red;
	--warn-color: @yellow;
	--error-color: @red;
	--disabled-color: @gray4;
	--current-value-color: @hunter;
	--selection-bg: fade(@cobalt, 40%);
	--primary-button-hover: @federal;
	--primary-button-active: @brunswick;
	--secondary-button-hover: fade(@baby, 35%);
	--secondary-button-active: fade(@baby, 65%);
	--check-color: @white;
	--check-border: @gray4;
	--check-bg: @cobalt;
	--check-error: @red;
	--focus-normal-border: @capri;
	--focus-normal-shadow: @baby;
	--focus-error-border: @red;
	--focus-error-shadow: @orange;
	--menu-hover: fade(@baby, 50%);
	--menu-current: @baby;
	--form-field-border: @gray4;
	--form-field-bg: @gray1;
	--form-field-hint: @gray4;
	--form-field-error: @red;
	--form-field-hover: fade(@baby, 35%);
	--form-field-dialog-bg: @gray1;
	--toggle-dot: @gray4;
	--toggle-checked: @hunter;
	--toggle-checked-track: @jade;
	--toggle-checked-hover: fade(@jade, 65%);
	--toggle-hover: fade(@baby, 15%);
	--toggle-focus: fade(@baby, 30%);
	--toggle-active: fade(@baby, 25%);
	--tag-added: @baby;
	--tag-default: @white;
	--table-selected-bg: @pacific;
	--table-alt-bg: @gray2;
	--highlight-bg: @maya;
	--toast-info-color: var(--font-color-i1);
	--toast-info-bg: @cobalt;
	--toast-warn-color: var(--font-color-1);
	--toast-warn-bg: @orange;
	--toast-error-color: var(--font-color-1);
	--toast-error-bg: @red;
	--toast-close-hover: fade(@black, 20%);
	--toast-close-active: fade(@black, 30%);
	--toast-time-color: fade(@white, 75%);
	--tooltip-color: var(--font-color-i1);
	--tooltip-bg: @gray5;
	--scrollbar-face: @gray4;
	--scrollbar-arrow: @cobalt;
	--bg-01: @white;
	--bg-02: @white;
	--bg-03: @white;
	--bg-04: @white;
	--bg-06: @white;
	--bg-08: @white;
	--bg-12: @white;
	--bg-16: @white;
	--bg-24: @white;
	--shadow-01: @shadow-light-01;
	--shadow-02: @shadow-light-02;
	--shadow-03: @shadow-light-03;
	--shadow-04: @shadow-light-04;
	--shadow-06: @shadow-light-06;
	--shadow-08: @shadow-light-08;
	--shadow-12: @shadow-light-12;
	--shadow-16: @shadow-light-16;
	--shadow-24: @shadow-light-24;
	--print-color: @black;
	--print-medium: fade(@black, 65%);
}
