@focus-ring: {
	outline: 2px solid var(--focus);
	outline-offset: -2px;
};

@focus-ring-error: {
	outline: 2px solid var(--focus);
	outline-offset: -2px;
};

@focus-visible: {
	&:focus {
		@focus-ring();
	}

	// workaround for browsers that don't support :focus-visible
	&:focus:not(:focus-visible) {
		outline: none;
	}
};

@focus-visible-error: {
	&:focus {
		@focus-ring-error();
	}

	// workaround for browsers that don't support :focus-visible
	&:focus:not(:focus-visible) {
		outline: none;
	}
};
