@import './colors';

@root-font: {
	font: 400 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
};

@font-10-400: {
	font-size: 10px;
};
@font-10-600-uc: {
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-12-400: {
	font-size: 12px;
};
@font-12-600-uc: {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
};
/* stylelint-disable-next-line block-no-empty */
@font-14-400: {
};
@font-14-600: {
	font-weight: 600;
};
@font-14-600-uc: {
	font-weight: 600;
	text-transform: uppercase;
};
@font-16-400: {
	font-size: 16px;
};
@font-16-400-sp2: {
	font-size: 16px;
	letter-spacing: 2px;
};
@font-16-600: {
	font-size: 16px;
	font-weight: 600;
};
@font-16-600-uc: {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-18-400: {
	font-size: 18px;
};
@font-24-400: {
	font-size: 24px;
};
@font-68-300: {
	font-size: 68px;
	font-weight: 300;
	line-height: 1.25;
};
