@import './colors';

@root-font: {
	font: 400 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
};

@font-indicator: {
	color: @font-color-3;
	font-size: 10px;
};
@font-notice: {
	color: @burnt;
	font-size: 10px;
};
@font-footer: {
	font-size: 10px;
};
@font-label: {
	color: @font-color-2;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-error: {
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-field-hint: {
	color: @sky;
	font-size: 12px;
};
@font-crumbs: {
	color: @font-color-2;
	font-size: 12px;
};
@font-body-small: {
	font-size: 12px;
};
@font-cmd-header: {
	color: @font-color-3;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-table-title: {
	color: @font-color-2;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-button-small: {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-body-disabled: {
	color: @font-color-3;
};
@font-body-dim: {
	color: @font-color-2;
};
@font-body-medium: {
	color: @font-color-1;
};
@font-block-action: {
	color: @red;
};
@font-important: {
	font-weight: 600;
};
@font-button-medium: {
	font-weight: 600;
	text-transform: uppercase;
};
@font-field-hint-large: {
	color: @font-color-3;
	font-size: 16px;
};
@font-empty-msg: {
	color: @font-color-3;
	font-size: 16px;
};
@font-body-large: {
	font-size: 16px;
};
@font-product: {
	color: @bondi;
	font-size: 16px;
	letter-spacing: 2px;
};
@font-title-small: {
	font-size: 16px;
	font-weight: 600;
};
@font-button-large: {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
};
@font-title-medium: {
	font-size: 18px;
};
@font-title-large: {
	font-size: 24px;
};
@font-display-large: {
	font-size: 68px;
	font-weight: 300;
	line-height: 1.25;
};
