@import 'colors';
@import 'fonts';

input,
button,
select,
textarea {
	font: inherit;
	color: inherit;
}

:-ms-input-placeholder {
	@font-12-400();
	color: @sky;
}

::placeholder {
	@font-12-400();
	color: @sky;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='search']:focus,
textarea {
	padding: @sp-04 @sp-12;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;
}
input:read-only,
textarea:read-only {
	color: @font-color-2;
}
input[disabled] {
	color: @battleship;
	border-color: @battleship;
}
input[disabled]:-ms-input-placeholder {
	color: @battleship;
}
input[disabled]::placeholder {
	color: @battleship;
}
input:not([type]):focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
	outline: 2px solid @bondi;
	outline-offset: -2px;
}

@media print {
	:-ms-input-placeholder {
		color: @battleship;
	}

	::placeholder {
		color: @battleship;
	}

	input[disabled] {
		border-color: transparent;
	}
}
