@import 'colors';
@import 'focus';
@import 'fonts';
@import 'spacing';

input,
button,
select,
textarea {
	font: inherit;
	color: inherit;
}

button::-moz-focus-inner {
	border: none;
}

:-ms-input-placeholder {
	@font-12-400();
	color: @form-field-hint;
}

::placeholder {
	@font-12-400();
	color: @form-field-hint;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
textarea {
	padding: @sp-04 @sp-12;
	margin: @sp-02;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;
	transition: background-color 0.15s ease-out;

	&:hover {
		background-color: @form-field-hover;
	}

	&:focus {
		@focus-ring();
	}

	.Dialog & {
		background-color: @oxford;
	}

	@media print {
		background-color: transparent;
		border-color: transparent;
	}
}
// Looks like a bug in stylelint
// stylelint-disable no-descending-specificity
input:read-only,
textarea:read-only {
	color: @font-color-2;
}
input[disabled] {
	color: @battleship;
	border-color: @battleship;
}
input[disabled]:-ms-input-placeholder {
	color: @battleship;
}
input[disabled]::placeholder {
	color: @battleship;
}

@media print {
	:-ms-input-placeholder {
		color: @battleship;
	}

	::placeholder {
		color: @battleship;
	}

	input[disabled] {
		border-color: transparent;
	}
}
