:root,
[data-layer='1'] {
	--layer: var(--layer-01);
	--layer-active: var(--layer-active-01);
	--layer-hover: var(--layer-hover-01);
	--layer-selected: var(--layer-selected-01);
	--layer-selected-hover: var(--layer-selected-hover-01);
	--layer-accent: var(--layer-accent-01);
	--layer-accent-hover: var(--layer-accent-hover-01);
	--layer-accent-active: var(--layer-accent-active-01);
	--field: var(--field-01);
	--field-hover: var(--field-hover-01);
	--border-subtle: var(--border-subtle-01);
	--border-subtle-selected: var(--border-subtle-selected-01);
	--border-strong: var(--border-strong-01);
}

[data-layer='2'] {
	--layer: var(--layer-02);
	--layer-active: var(--layer-active-02);
	--layer-hover: var(--layer-hover-02);
	--layer-selected: var(--layer-selected-02);
	--layer-selected-hover: var(--layer-selected-hover-02);
	--layer-accent: var(--layer-accent-02);
	--layer-accent-hover: var(--layer-accent-hover-02);
	--layer-accent-active: var(--layer-accent-active-02);
	--field: var(--field-02);
	--field-hover: var(--field-hover-02);
	--border-subtle: var(--border-subtle-02);
	--border-subtle-selected: var(--border-subtle-selected-02);
	--border-strong: var(--border-strong-02);
}

[data-layer='3'] {
	--layer: var(--layer-03);
	--layer-active: var(--layer-active-03);
	--layer-hover: var(--layer-hover-03);
	--layer-selected: var(--layer-selected-03);
	--layer-selected-hover: var(--layer-selected-hover-03);
	--layer-accent: var(--layer-accent-03);
	--layer-accent-hover: var(--layer-accent-hover-03);
	--layer-accent-active: var(--layer-accent-active-03);
	--field: var(--field-03);
	--field-hover: var(--field-hover-03);
	--border-subtle: var(--border-subtle-03);
	--border-subtle-selected: var(--border-subtle-selected-03);
	--border-strong: var(--border-strong-03);
}
