::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-face);
	border-radius: 8px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;

	@media print {
		display: none;
	}
}

// For IE
html {
	scrollbar-base-color: var(--scrollbar-face);
	scrollbar-shadow-color: var(--scrollbar-face);
	scrollbar-arrow-color: var(--scrollbar-arrow);
	scrollbar-track-color: var(--page-bg);
}

// For Firefox
* {
	scrollbar-color: var(--scrollbar-face) transparent;
	scrollbar-width: thin;
}
