@sp-02: 2px; // .125
@sp-04: 4px; // .25
@sp-08: 8px; // .5
@sp-12: 12px; // .75
@sp-16: 16px; // 1
@sp-24: 24px; // 1.5
@sp-32: 32px; // 2
@sp-40: 40px; // 2.5
@sp-48: 48px; // 3
@sp-64: 64px; // 4
@sp-80: 80px; // 5
@sp-160: 160px; // 10
