// Based on https://github.com/lukehaas/css-loaders
.CssSpinner {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	animation: spinner 0.8s infinite ease;
}

@keyframes spinner {
	0%,
	100% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 95%), 1.5em -1.5em 0 0 fade(@white, 15%), 2.2em 0 0 0 fade(@white, 15%),
			1.5em 1.5em 0 0 fade(@white, 15%), 0 2.2em 0 0 fade(@white, 15%), -1.5em 1.5em 0 0 fade(@white, 35%),
			-2.2em 0 0 0 fade(@white, 55%), -1.5em -1.5em 0 0 fade(@white, 75%);
	}

	12.5% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 75%), 1.5em -1.5em 0 0 fade(@white, 95%), 2.2em 0 0 0 fade(@white, 15%),
			1.5em 1.5em 0 0 fade(@white, 15%), 0 2.2em 0 0 fade(@white, 15%), -1.5em 1.5em 0 0 fade(@white, 15%),
			-2.2em 0 0 0 fade(@white, 35%), -1.5em -1.5em 0 0 fade(@white, 55%);
	}

	25% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 55%), 1.5em -1.5em 0 0 fade(@white, 75%), 2.2em 0 0 0 fade(@white, 95%),
			1.5em 1.5em 0 0 fade(@white, 15%), 0 2.2em 0 0 fade(@white, 15%), -1.5em 1.5em 0 0 fade(@white, 15%),
			-2.2em 0 0 0 fade(@white, 15%), -1.5em -1.5em 0 0 fade(@white, 35%);
	}

	37.5% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 35%), 1.5em -1.5em 0 0 fade(@white, 55%), 2.2em 0 0 0 fade(@white, 75%),
			1.5em 1.5em 0 0 fade(@white, 95%), 0 2.2em 0 0 fade(@white, 15%), -1.5em 1.5em 0 0 fade(@white, 15%),
			-2.2em 0 0 0 fade(@white, 15%), -1.5em -1.5em 0 0 fade(@white, 15%);
	}

	50% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 15%), 1.5em -1.5em 0 0 fade(@white, 35%), 2.2em 0 0 0 fade(@white, 55%),
			1.5em 1.5em 0 0 fade(@white, 75%), 0 2.2em 0 0 fade(@white, 95%), -1.5em 1.5em 0 0 fade(@white, 15%),
			-2.2em 0 0 0 fade(@white, 15%), -1.5em -1.5em 0 0 fade(@white, 15%);
	}

	62.5% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 15%), 1.5em -1.5em 0 0 fade(@white, 15%), 2.2em 0 0 0 fade(@white, 35%),
			1.5em 1.5em 0 0 fade(@white, 55%), 0 2.2em 0 0 fade(@white, 75%), -1.5em 1.5em 0 0 fade(@white, 95%),
			-2.2em 0 0 0 fade(@white, 15%), -1.5em -1.5em 0 0 fade(@white, 15%);
	}

	75% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 15%), 1.5em -1.5em 0 0 fade(@white, 15%), 2.2em 0 0 0 fade(@white, 15%),
			1.5em 1.5em 0 0 fade(@white, 35%), 0 2.2em 0 0 fade(@white, 55%), -1.5em 1.5em 0 0 fade(@white, 75%),
			-2.2em 0 0 0 fade(@white, 95%), -1.5em -1.5em 0 0 fade(@white, 15%);
	}

	87.5% {
		box-shadow: 0 -2.2em 0 0 fade(@white, 15%), 1.5em -1.5em 0 0 fade(@white, 15%), 2.2em 0 0 0 fade(@white, 15%),
			1.5em 1.5em 0 0 fade(@white, 15%), 0 2.2em 0 0 fade(@white, 35%), -1.5em 1.5em 0 0 fade(@white, 55%),
			-2.2em 0 0 0 fade(@white, 75%), -1.5em -1.5em 0 0 fade(@white, 95%);
	}
}
