@import 'colors';

// Based on https://github.com/lukehaas/css-loaders

.css-spinner() {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	animation: 0.8s infinite ease;

	@media (prefers-reduced-motion) {
		animation: none;

		&::before {
			content: attr(aria-label);
			width: fit-content;
			transform: translateX(-50%);
		}
	}
}

.spinner-kf(@color) {
	0%,
	100% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 95%), 1.5em -1.5em 0 0 fade(@color, 15%), 2.2em 0 0 0 fade(@color, 15%),
			1.5em 1.5em 0 0 fade(@color, 15%), 0 2.2em 0 0 fade(@color, 15%), -1.5em 1.5em 0 0 fade(@color, 35%),
			-2.2em 0 0 0 fade(@color, 55%), -1.5em -1.5em 0 0 fade(@color, 75%);
	}

	12.5% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 75%), 1.5em -1.5em 0 0 fade(@color, 95%), 2.2em 0 0 0 fade(@color, 15%),
			1.5em 1.5em 0 0 fade(@color, 15%), 0 2.2em 0 0 fade(@color, 15%), -1.5em 1.5em 0 0 fade(@color, 15%),
			-2.2em 0 0 0 fade(@color, 35%), -1.5em -1.5em 0 0 fade(@color, 55%);
	}

	25% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 55%), 1.5em -1.5em 0 0 fade(@color, 75%), 2.2em 0 0 0 fade(@color, 95%),
			1.5em 1.5em 0 0 fade(@color, 15%), 0 2.2em 0 0 fade(@color, 15%), -1.5em 1.5em 0 0 fade(@color, 15%),
			-2.2em 0 0 0 fade(@color, 15%), -1.5em -1.5em 0 0 fade(@color, 35%);
	}

	37.5% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 35%), 1.5em -1.5em 0 0 fade(@color, 55%), 2.2em 0 0 0 fade(@color, 75%),
			1.5em 1.5em 0 0 fade(@color, 95%), 0 2.2em 0 0 fade(@color, 15%), -1.5em 1.5em 0 0 fade(@color, 15%),
			-2.2em 0 0 0 fade(@color, 15%), -1.5em -1.5em 0 0 fade(@color, 15%);
	}

	50% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 15%), 1.5em -1.5em 0 0 fade(@color, 35%), 2.2em 0 0 0 fade(@color, 55%),
			1.5em 1.5em 0 0 fade(@color, 75%), 0 2.2em 0 0 fade(@color, 95%), -1.5em 1.5em 0 0 fade(@color, 15%),
			-2.2em 0 0 0 fade(@color, 15%), -1.5em -1.5em 0 0 fade(@color, 15%);
	}

	62.5% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 15%), 1.5em -1.5em 0 0 fade(@color, 15%), 2.2em 0 0 0 fade(@color, 35%),
			1.5em 1.5em 0 0 fade(@color, 55%), 0 2.2em 0 0 fade(@color, 75%), -1.5em 1.5em 0 0 fade(@color, 95%),
			-2.2em 0 0 0 fade(@color, 15%), -1.5em -1.5em 0 0 fade(@color, 15%);
	}

	75% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 15%), 1.5em -1.5em 0 0 fade(@color, 15%), 2.2em 0 0 0 fade(@color, 15%),
			1.5em 1.5em 0 0 fade(@color, 35%), 0 2.2em 0 0 fade(@color, 55%), -1.5em 1.5em 0 0 fade(@color, 75%),
			-2.2em 0 0 0 fade(@color, 95%), -1.5em -1.5em 0 0 fade(@color, 15%);
	}

	87.5% {
		box-shadow: 0 -2.2em 0 0 fade(@color, 15%), 1.5em -1.5em 0 0 fade(@color, 15%), 2.2em 0 0 0 fade(@color, 15%),
			1.5em 1.5em 0 0 fade(@color, 15%), 0 2.2em 0 0 fade(@color, 35%), -1.5em 1.5em 0 0 fade(@color, 55%),
			-2.2em 0 0 0 fade(@color, 75%), -1.5em -1.5em 0 0 fade(@color, 95%);
	}
}

@keyframes spinner-dark {
	.spinner-kf(@white);
}

@keyframes spinner-light {
	.spinner-kf(@cyan-60);
}
