@import './focus';

@base-ellipsis: {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
};

@ellipsis: {
	@base-ellipsis();
	display: block;
};

@primary-button-effects: {
	transition: border-color 0.15s ease-out, background-color 0.15s ease-out;

	&:hover {
		border-color: var(--primary-button-hover);
		background-color: var(--primary-button-hover);
	}

	&:active {
		border-color: var(--primary-button-active);
		background-color: var(--primary-button-active);
	}
};

@secondary-button-effects: {
	transition: background-color 0.15s ease-out;

	&:hover {
		background-color: var(--secondary-button-hover);
	}

	&:active {
		background-color: var(--secondary-button-active);
	}
};

@icon-button: {
	@focus-visible();
	@secondary-button-effects();
	cursor: pointer;
	color: var(--action-color);

	&[aria-disabled='true'] {
		color: var(--disabled-color);
		background-color: transparent;
		cursor: not-allowed;
	}
};

@icon-button-nested: {
	@icon-button();
	border-radius: 50%;
};

.wrapping-grid() {
	display: grid;
	grid-column-gap: @sp-24;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.editor-grid(@property; @value1; @value2; @value3; @value4; @value5) {
	grid-template-@{property}: @value1;

	@media (min-width: 640px) {
		grid-template-@{property}: @value2;
	}

	@media (min-width: 960px) {
		grid-template-@{property}: @value3;
	}

	@media (min-width: 1200px) {
		grid-template-@{property}: @value4;
	}

	@media (min-width: 1600px) {
		grid-template-@{property}: @value5;
	}
}

.details-grid(@property; @value1; @value2; @value3; @value4) {
	grid-template-@{property}: @value1;

	@media (min-width: 960px) {
		grid-template-@{property}: @value2;
	}

	@media (min-width: 1200px) {
		grid-template-@{property}: @value3;
	}

	@media (min-width: 1600px) {
		grid-template-@{property}: @value4;
	}
}
