@import '../../less/elevations';

@layer pelagos {
	.ButtonMenu {
		& > .Button__icon {
			transition: transform 0.15s ease-out;
		}

		&[aria-expanded='true'] > .Button__icon {
			transform: rotate(180deg);
		}

		&__popUp {
			@elv-04();
			position: absolute;
		}
	}
}
