@import '../../less/elevations';

@layer pelagos {
	.ButtonMenu {
		&[aria-expanded='true'] {
			border-radius: initial;
			box-shadow: var(--shadow-04);
			background-color: var(--layer);
		}

		&__popUp {
			@elv-04();
			position: absolute;
		}
	}
}
