@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.Menu {
		margin: 0;
		padding: @sp-04 0;
		list-style: none;
		white-space: nowrap;
		min-width: 160px;
		max-width: 288px;

		&__item {
			@layer-hover-effects();
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 32px;
			color: var(--text-secondary);
			padding: 0 @sp-16;
			cursor: pointer;

			&:hover,
			&:active {
				color: var(--text-primary);
			}

			&:focus-visible {
				@focus-ring();
				color: var(--text-primary);
			}

			&[aria-disabled='true'],
			&[aria-disabled='true']:hover,
			&[aria-disabled='true']:active {
				color: var(--text-disabled);
				background-color: transparent;
				pointer-events: none;
			}
		}

		&--danger {
			&:hover,
			&:active,
			&:focus-visible {
				color: var(--text-on-color);
				background-color: var(--support-error);
			}
		}

		&--divider {
			border-top: 1px solid var(--border-subtle);
		}

		&__divider {
			border-top: 1px solid var(--border-subtle);
			margin: @sp-04;
		}
	}
}
