@import '~@bluecateng/pelagos/less/colors';

.charts-light() {
	--charts-1-1-1: @purple-70;
	--charts-1-2-1: @blue-80;
	--charts-1-3-1: @cyan-50;
	--charts-1-4-1: @teal-70;
	--charts-2-1-1: @purple-70;
	--charts-2-1-2: @teal-50;
	--charts-2-2-1: @purple-60;
	--charts-2-2-2: @red-90;
	--charts-2-3-1: @magenta-70;
	--charts-2-3-2: @red-90;
	--charts-2-4-1: @cyan-50;
	--charts-2-4-2: @teal-70;
	--charts-2-5-1: @teal-50;
	--charts-2-5-2: @blue-80;
	--charts-3-1-1: @purple-50;
	--charts-3-1-2: @teal-70;
	--charts-3-1-3: @magenta-70;
	--charts-3-2-1: @magenta-70;
	--charts-3-2-2: @red-50;
	--charts-3-2-3: @red-90;
	--charts-3-3-1: @purple-50;
	--charts-3-3-2: @teal-70;
	--charts-3-3-3: @blue-80;
	--charts-3-4-1: @magenta-50;
	--charts-3-4-2: @cyan-50;
	--charts-3-4-3: @purple-70;
	--charts-3-5-1: @cyan-90;
	--charts-3-5-2: @purple-70;
	--charts-3-5-3: @teal-50;
	--charts-4-1-1: @magenta-70;
	--charts-4-1-2: @red-50;
	--charts-4-1-3: @red-90;
	--charts-4-1-4: @purple-50;
	--charts-4-2-1: @purple-70;
	--charts-4-2-2: @cyan-90;
	--charts-4-2-3: @teal-50;
	--charts-4-2-4: @magenta-50;
	--charts-4-3-1: @teal-50;
	--charts-4-3-2: @blue-80;
	--charts-4-3-3: @purple-50;
	--charts-4-3-4: @magenta-70;
	--charts-5-1-1: @purple-70;
	--charts-5-1-2: @cyan-50;
	--charts-5-1-3: @teal-70;
	--charts-5-1-4: @magenta-70;
	--charts-5-1-5: @red-90;
	--charts-5-2-1: @blue-80;
	--charts-5-2-2: @teal-50;
	--charts-5-2-3: @magenta-70;
	--charts-5-2-4: @red-90;
	--charts-5-2-5: @purple-50;
	--charts-14-1-1: @purple-70;
	--charts-14-1-2: @cyan-50;
	--charts-14-1-3: @teal-70;
	--charts-14-1-4: @magenta-70;
	--charts-14-1-5: @red-50;
	--charts-14-1-6: @red-90;
	--charts-14-1-7: @green-60;
	--charts-14-1-8: @blue-80;
	--charts-14-1-9: @magenta-50;
	--charts-14-1-10: @yellow-50;
	--charts-14-1-11: @teal-50;
	--charts-14-1-12: @cyan-90;
	--charts-14-1-13: @orange-70;
	--charts-14-1-14: @purple-50;
}

.charts-dark() {
	--charts-1-1-1: @purple-30;
	--charts-1-2-1: @blue-50;
	--charts-1-3-1: @cyan-40;
	--charts-1-4-1: @teal-40;
	--charts-2-1-1: @purple-60;
	--charts-2-1-2: @teal-40;
	--charts-2-2-1: @purple-60;
	--charts-2-2-2: @magenta-40;
	--charts-2-3-1: @magenta-40;
	--charts-2-3-2: @red-10;
	--charts-2-4-1: @blue-50;
	--charts-2-4-2: @cyan-20;
	--charts-2-5-1: @teal-60;
	--charts-2-5-2: @green-30;
	--charts-3-1-1: @purple-60;
	--charts-3-1-2: @teal-40;
	--charts-3-1-3: @cyan-20;
	--charts-3-2-1: @purple-60;
	--charts-3-2-2: @magenta-40;
	--charts-3-2-3: @red-10;
	--charts-3-3-1: @blue-50;
	--charts-3-3-2: @teal-40;
	--charts-3-3-3: @purple-30;
	--charts-3-4-1: @blue-50;
	--charts-3-4-2: @green-30;
	--charts-3-4-3: @red-10;
	--charts-3-5-1: @teal-60;
	--charts-3-5-2: @green-30;
	--charts-3-5-3: @cyan-20;
	--charts-4-1-1: @purple-60;
	--charts-4-1-2: @teal-40;
	--charts-4-1-3: @cyan-20;
	--charts-4-1-4: @blue-50;
	--charts-4-2-1: @blue-50;
	--charts-4-2-2: @teal-40;
	--charts-4-2-3: @purple-30;
	--charts-4-2-4: @red-10;
	--charts-4-3-1: @teal-60;
	--charts-4-3-2: @red-10;
	--charts-4-3-3: @cyan-40;
	--charts-4-3-4: @green-30;
	--charts-5-1-1: @purple-60;
	--charts-5-1-2: @teal-40;
	--charts-5-1-3: @cyan-20;
	--charts-5-1-4: @blue-50;
	--charts-5-1-5: @magenta-40;
	--charts-5-2-1: @blue-50;
	--charts-5-2-2: @teal-40;
	--charts-5-2-3: @purple-30;
	--charts-5-2-4: @red-10;
	--charts-5-2-5: @green-30;
	--charts-14-1-1: @purple-60;
	--charts-14-1-2: @cyan-40;
	--charts-14-1-3: @teal-60;
	--charts-14-1-4: @magenta-40;
	--charts-14-1-5: @red-50;
	--charts-14-1-6: @red-10;
	--charts-14-1-7: @green-30;
	--charts-14-1-8: @blue-50;
	--charts-14-1-9: @magenta-60;
	--charts-14-1-10: @yellow-40;
	--charts-14-1-11: @teal-40;
	--charts-14-1-12: @cyan-20;
	--charts-14-1-13: @orange-60;
	--charts-14-1-14: @purple-30;
}
