@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.BlockHeader {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.BlockHeader__indicator {
		@helper-text-01();
		color: var(--text-helper);
		margin-left: @sp-12;
	}

	.BlockHeader--configured {
		color: var(--text-secondary);
	}
}
