@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.Breadcrumb {
		position: relative;
	}

	.Breadcrumb__crumbs {
		@body-compact-01();
		color: var(--text-primary);
		display: block;
	}

	.Breadcrumb__list {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.Breadcrumb__separator {
		margin: 0 @sp-08;
	}

	.Breadcrumb__back {
		position: absolute;
		left: -32px;
		top: -7px;
	}

	@media print {
		.Breadcrumb {
			display: none;
		}
	}
}
