@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.Button {
		@focus-visible();
		@body-compact-01();
		display: inline-flex;
		align-items: center;
		white-space: nowrap;
		// stylelint-disable-next-line @bluecateng/property-strict-value
		padding: 0 15px; // minus 1px for the border
		cursor: pointer;

		&--small {
			height: 32px;
		}

		&--medium {
			height: 40px;
		}

		&--large {
			height: 48px;
		}

		&--primary {
			@primary-button-effects();
			color: var(--text-on-color);
			background-color: var(--button-primary);
			border: 1px solid transparent;

			&[aria-disabled='true'] {
				color: var(--text-on-color-disabled);
				background-color: var(--button-disabled);
			}
		}

		&--secondary {
			@secondary-button-effects();
			color: var(--text-on-color);
			background-color: var(--button-secondary);
			border: 1px solid transparent;

			&[aria-disabled='true'] {
				color: var(--text-on-color-disabled);
				background-color: var(--button-disabled);
			}
		}

		&--tertiary {
			@tertiary-button-effects();
			color: var(--button-tertiary);
			background-color: transparent;
			border: 1px solid var(--button-tertiary);

			&[aria-disabled='true'] {
				color: var(--text-disabled);
				background-color: transparent;
				border-color: var(--button-disabled);
			}
		}

		&--ghost {
			@ghost-button-effects();
			color: var(--link-primary);
			background-color: transparent;
			border: 1px solid transparent;

			&[aria-disabled='true'] {
				color: var(--text-disabled);
				background-color: transparent;
			}
		}

		&--dangerPrimary {
			@danger-primary-button-effects();
			color: var(--text-on-color);
			background-color: var(--button-danger-primary);
			border: 1px solid transparent;

			&[aria-disabled='true'] {
				color: var(--text-on-color-disabled);
				background-color: var(--button-disabled);
			}
		}

		&--dangerTertiary {
			@danger-tertiary-button-effects();
			color: var(--button-danger-secondary);
			background-color: transparent;
			border: 1px solid var(--button-danger-secondary);

			&[aria-disabled='true'] {
				color: var(--text-disabled);
				background-color: transparent;
				border-color: var(--button-disabled);
			}
		}

		&--dangerGhost {
			@danger-ghost-button-effects();
			color: var(--button-danger-secondary);
			background-color: transparent;
			border: 1px solid transparent;

			&[aria-disabled='true'] {
				color: var(--text-disabled);
				background-color: transparent;
			}
		}

		&__icon {
			margin-left: @sp-08;
			font-size: 14px;
		}

		&[aria-disabled='true'] {
			cursor: not-allowed;
		}

		&:focus-visible {
			box-shadow: inset 0 0 0 3px var(--focus-inset);
		}
	}
}
