@import '../../less/spacing';
@import '../../less/utils';

.CheckBox {
	@layer-hover-effects();
	// stylelint-disable-next-line @bluecateng/property-strict-value -- minimum space to fit focus ring
	margin-left: 3px;

	&--disabled {
		color: var(--text-disabled);

		&:hover,
		&:active {
			background-color: transparent;
		}
	}

	& > input {
		margin-right: @sp-08;
	}
}
