@import '../../less/spacing';

@layer pelagos {
	.CheckBox {
		display: inline-flex;
		align-items: center;
		gap: @sp-08;
		// stylelint-disable-next-line @bluecateng/property-strict-value -- minimum space to fit focus ring
		margin-left: 3px;
		cursor: pointer;

		&--disabled {
			color: var(--text-disabled);

			&:hover,
			&:active {
				background-color: transparent;
			}
		}
	}
}
