@import '../../less/spacing';

@layer pelagos {
	.ConfirmDialog__body {
		flex-direction: row;
	}

	.ConfirmDialog__icon {
		flex: none;
		align-self: flex-start;
		color: var(--support-warning);
		margin-right: @sp-16;
		margin-top: @sp-04;

		[data-icon-path] {
			fill: #000000;
			opacity: 1;
		}
	}

	.ConfirmDialog__text {
		overflow: hidden auto;
	}
}
