@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.ConfirmDialog__body {
		flex-direction: row;
	}

	.ConfirmDialog__icon {
		@warning-fill();
		flex: none;
		align-self: flex-start;
		color: var(--support-warning);
		margin-right: @sp-16;
		margin-top: @sp-04;
	}

	.ConfirmDialog__text {
		overflow: hidden auto;
	}
}
