@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.DetailRegion {
		margin-top: @sp-16;

		&__header {
			flex-direction: row;
			align-items: center;
			gap: @sp-08;
			margin-bottom: @sp-04;
		}

		&__title {
			@label-01();
			@base-ellipsis();
			color: var(--text-secondary);

			&.no-info {
				max-width: 100%;
			}

			&.info {
				max-width: calc(100% - 24px);
			}
		}
	}
}
