@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

.DetailsList {
	margin-top: @sp-16;
}

.DetailsList__title {
	@font-12-400();
	color: var(--text-secondary);
	margin-bottom: @sp-04;
}

.DetailsList__grid {
	display: grid;
	grid-gap: @sp-08 @sp-24;
	.details-grid(columns; 1fr; repeat(2, minmax(0, 1fr)) ; repeat(3, minmax(0, 1fr)) ; repeat(4, minmax(0, 1fr)));
	grid-auto-rows: min-content;
	margin: 0;
	padding: 0;
	list-style: none;
}

.DetailsList__item {
	@ellipsis();
}
