@import '../../less/fonts';
@import '../../less/spacing';

.DetailEntry {
	margin-top: @sp-16;

	&--row {
		flex-direction: row;
	}

	&__label {
		flex-direction: row;
		align-items: center;
		gap: @sp-08;
	}

	&__title {
		@font-12-400();
		color: var(--text-secondary);
	}

	&__value {
		position: relative;
		margin-top: @sp-04;
	}
}
