@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.DetailsList {
		&__grid {
			display: grid;
			gap: @sp-08 @sp-24;
			.details-grid(columns; 1fr; repeat(2, minmax(0, 1fr)); repeat(3, minmax(0, 1fr)); repeat(4, minmax(0, 1fr)));
			grid-auto-rows: min-content;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&__item {
			@ellipsis();
		}
	}
}
