@import '../../less/breakpoints';
@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.EditorDetailsPanel {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 48px;
		bottom: 0;
		right: 0;
		width: 45vw;
		border-left: 1px solid var(--border-subtle);
		overflow: hidden auto;
		will-change: transform;
		transform: translateX(100%);

		.breakpoint(md, {
			overflow: hidden;
		});

		@media print {
			bottom: initial;
		}
	}

	.EditorDetailsPanel__header {
		flex-direction: row;
		align-items: center;
	}

	.EditorDetailsPanel__title {
		padding: @sp-12 @sp-24;
		word-break: break-all;
		flex: 1;
	}

	.EditorDetailsPanel__body {
		padding: 0 @sp-24 @sp-24;
		margin-right: @sp-04;

		.breakpoint(md, {
			flex: 1;
			overflow: hidden auto;
		});
	}

	.EditorDetailsPanel__buttons {
		flex-flow: row wrap;
		gap: @sp-12;
		padding: @sp-12 @sp-24 @sp-24;
		justify-content: flex-end;
		margin-top: auto;

		.breakpoint(md, {
			margin-top: 0;
		});

		@media print {
			display: none;
		}
	}
}
