@import '../../less/fonts';
@import '../../less/spacing';

.IconButtonStory__overlay {
	@helper-text-01();
	position: absolute;
	right: -8px;
	top: -8px;
	color: var(--tag-color-green);
	background-color: var(--tag-background-green);
	border-radius: 50%;
	padding: @sp-02 @sp-04;
}
