@import '../../less/fonts';
@import '../../less/spacing';

.IconButtonStory__overlay {
	@font-10-400();
	position: absolute;
	right: -8px;
	top: -8px;
	color: var(--text-on-color);
	background-color: var(--support-success);
	border-radius: 50%;
	padding: @sp-02 @sp-04;
}
