@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.InlineNotification {
		position: relative;
		flex-direction: row;
		align-items: flex-start;
		border-left-width: 3px;
		border-left-style: solid;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-width: 1px 1px 1px 0;
			border-style: solid;
			opacity: 0.4;
			pointer-events: none;
		}

		&__icon {
			margin: @sp-12 @sp-16;
		}

		&__wrapper {
			display: block;
			flex: 1;
			margin: @sp-12 @sp-16 @sp-12 0;
			word-wrap: break-word;
		}

		&__title {
			@heading-compact-01();
			margin-right: @sp-04;
		}

		&--success {
			background-color: var(--notification-background-success);
			border-left-color: var(--support-success);

			&::before {
				border-color: var(--support-success);
			}

			& > .InlineNotification__icon {
				color: var(--support-success);
			}
		}

		&--info {
			background-color: var(--notification-background-info);
			border-left-color: var(--support-info);

			&::before {
				border-color: var(--support-info);
			}

			& > .InlineNotification__icon {
				color: var(--support-info);
			}
		}

		&--warning {
			@warning-fill();
			background-color: var(--notification-background-warning);
			border-left-color: var(--support-warning);

			&::before {
				border-color: var(--support-warning);
			}

			& > .InlineNotification__icon {
				color: var(--support-warning);
			}
		}

		&--error {
			background-color: var(--notification-background-error);
			border-left-color: var(--support-error);

			&::before {
				border-color: var(--support-error);
			}

			& > .InlineNotification__icon {
				color: var(--support-error);
			}
		}
	}
}
