@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.LabelLine {
		&__label {
			flex-direction: row;
			margin-bottom: @sp-08;
			align-items: baseline;
		}

		&__required {
			@font-12-600();
			color: var(--text-helper);
			margin-left: @sp-02;
		}

		&--error {
			color: var(--support-error);
		}
	}
}
