@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.LabelLine {
		flex-direction: row;
		margin-bottom: @sp-08;
		justify-content: space-between;

		&__label {
			flex-direction: row;
			align-items: baseline;
		}

		&__required {
			@helper-text-01();
			color: var(--text-helper);
			margin-left: @sp-02;
		}

		&--error {
			color: var(--support-error);
		}

		&__counter {
			@label-01();
			color: var(--text-secondary);
		}
	}
}
