a.Button,
a.Button:hover,
a.Button:active {
	text-decoration: none;
}

a.Button--primary:hover,
a.Button--primary:active {
	color: var(--text-on-color);
}

a.Button--secondary:hover,
a.Button--secondary:active {
	color: var(--text-on-color);
}

a.Button--ghost:hover,
a.Button--ghost:active {
	color: var(--link-primary);
}
