@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.MultiColumn {
		flex-direction: row;
		overflow: auto hidden;
	}

	.MultiColumn__column {
		position: relative;
		padding: @sp-02;
		overflow: hidden auto;
		outline: none;

		&:not(:first-child) {
			border-left: 1px solid var(--border-subtle);
		}
	}

	.MultiColumn__item {
		flex-direction: row;
		align-items: center;
		padding: @sp-04 @sp-08;
		cursor: pointer;
		transition: background-color 0.15s ease-out;

		&:hover {
			background-color: var(--background-hover);
		}

		&:active {
			background-color: var(--background-active);
		}

		&[aria-selected='true'] {
			background-color: var(--layer-accent);

			&:hover {
				background-color: var(--layer-accent-hover);
			}
		}

		&:focus {
			@focus-ring();
			background-color: var(--layer-selected);
		}
	}

	.MultiColumn__text {
		@ellipsis();
		flex: 1;
	}

	.MultiColumn__arrow {
		font-size: 14px;
		opacity: 0.4;
	}

	.MultiColumn__empty {
		@helper-text-02();
		color: var(--text-helper);
		white-space: pre-line;
		justify-content: center;
		align-items: center;
	}
}
