@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.RadioButton {
		@layer-hover-effects();
		display: inline-flex;
		align-items: center;
		// stylelint-disable-next-line @bluecateng/property-strict-value -- minimum space to fit focus ring
		margin-left: 3px;

		& > input {
			margin-right: @sp-08;
		}
	}
}
