@import '../../less/spacing';

.ScrollBox {
	flex-direction: row;
	flex: 1;
	overflow: hidden;
	align-items: center;
}

.ScrollBox__track {
	flex-direction: row;
	flex: 1;
	overflow: hidden;
	scroll-behavior: smooth;
}

.ScrollBox__btn {
	display: none;

	.ScrollBox--overflow > & {
		display: inherit;
	}

	@media print {
		.ScrollBox--overflow > & {
			display: none;
		}
	}
}
