@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.SearchField {
		position: relative;
	}

	.SearchField__input[type='text'] {
		padding-right: @sp-24;
	}

	.SearchField__icon {
		@icon-button-nested();
		position: absolute;
		top: 4px;
		right: 2px;
		padding: @sp-04;
	}
}
