@layer pelagos {
	.SelectArrow {
		width: 16px;
		height: 16px;
		flex: none;
		fill: var(--icon-primary);
		pointer-events: none;
		transition: transform 0.15s ease-out;

		&--open {
			transform: rotate(180deg);
		}
	}
}
