@import '../../less/fonts';
@import '../../less/spacing';

.tag-styles(@color; @background; @hover) {
	color: var(@color);
	background-color: var(@background);

	&:is(button):hover {
		background-color: var(@hover);
	}

	& > .Tag__remove:hover {
		background-color: var(@hover);
	}
}

@layer pelagos {
	.Tag {
		@label-01();
		flex-direction: row;
		align-items: center;
		padding: 0 @sp-08;
		transition: background-color 0.15s ease-out;

		&:is(button) {
			border: none;
			cursor: pointer;
		}

		&--sm {
			height: 18px;
			border-radius: 9px;
		}

		&--md {
			height: 24px;
			border-radius: 12px;
		}

		&--red {
			.tag-styles(--tag-color-red, --tag-background-red, --tag-hover-red);
		}

		&--magenta {
			.tag-styles(--tag-color-magenta, --tag-background-magenta, --tag-hover-magenta);
		}

		&--purple {
			.tag-styles(--tag-color-purple, --tag-background-purple, --tag-hover-purple);
		}

		&--blue {
			.tag-styles(--tag-color-blue, --tag-background-blue, --tag-hover-blue);
		}

		&--cyan {
			.tag-styles(--tag-color-cyan, --tag-background-cyan, --tag-hover-cyan);
		}

		&--teal {
			.tag-styles(--tag-color-teal, --tag-background-teal, --tag-hover-teal);
		}

		&--green {
			.tag-styles(--tag-color-green, --tag-background-green, --tag-hover-green);
		}

		&--gray {
			.tag-styles(--tag-color-gray, --tag-background-gray, --tag-hover-gray);
		}

		&--cool-gray {
			.tag-styles(--tag-color-cool-gray, --tag-background-cool-gray, --tag-hover-cool-gray);
		}

		&--warm-gray {
			.tag-styles(--tag-color-warm-gray, --tag-background-warm-gray, --tag-hover-warm-gray);
		}

		&--cyan-gray {
			.tag-styles(--tag-color-cyan-gray, --tag-background-cyan-gray, --tag-hover-cyan-gray);
		}

		&--high-contrast {
			.tag-styles(--text-inverse, --background-inverse, --background-inverse-hover);
		}

		&--removable {
			padding-right: 0;
		}

		&__remove {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			padding: 0;
			margin: 0 0 0 @sp-02;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			outline: none;
			transition: background-color 0.15s ease-out;

			.Tag--sm > & {
				width: 18px;
				height: 18px;
			}

			.Tag--md > & {
				width: 24px;
				height: 24px;
			}

			&:focus-visible {
				outline: 1px solid var(--focus);
				outline-offset: -1px;
			}

			// stylelint-disable-next-line @bluecateng/selector-bem
			.Tag--high-contrast > &:focus-visible {
				outline: 1px solid var(--focus-inverse);
			}
		}
	}
}
