@import '../../less/fonts';
@import '../../less/spacing';

@layer pelagos {
	.ListInput {
		margin-top: @sp-12;
	}

	.ListInput__empty {
		@helper-text-02();
		color: var(--text-helper);
		white-space: pre-line;
		height: 145px;
		text-align: center;
	}

	.ListInput__list {
		height: 145px;
		overflow-y: auto;
	}
}
