@import '../../less/breakpoints';
@import '../../less/spacing';
@import '../../less/utils';
@import '../../less/focus';

@layer pelagos {
	.ListEntries {
		gap: @sp-08;
		margin: 0;
		padding: 0;
		list-style: none;

		&--column {
			display: flex;
			flex-direction: column;
		}

		&--grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: min-content;

			.breakpoint(md, {
				grid-template-columns: repeat(2, 1fr)
			});
			.breakpoint(lg, {
				grid-template-columns: repeat(4, 1fr)
			});
			.breakpoint(xlg, {
				grid-template-columns: repeat(8, 1fr)
			});
		}

		&__item {
			@focus-visible();
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: @sp-12;
			overflow: hidden;
			background-color: var(--field);
			min-height: 32px;
			padding: 0 @sp-12 0 @sp-16;

			&--highlight {
				animation: highlight-fade 2s ease-out;
			}
		}

		&__icon {
			@icon-button();
			padding: @sp-04;

			.ListEntries__item--highlight > & {
				color: var(--link-primary);
			}
		}

		&__name {
			flex: 1;
			flex-direction: row;
			align-items: center;
		}

		&__grip {
			margin-right: @sp-04;
			color: var(--icon-secondary);
			opacity: 0.5;
			transition: opacity 0.15s ease-out;

			:hover > & {
				opacity: 1;
			}
		}
	}
}
