@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/shadows';
@import '../../less/spacing';
@import '../../less/zindexes';

// stylelint-disable @bluecat/property-strict-value

@tooltip-arrow-width: 5px;

.Tooltip {
	position: absolute;
	opacity: 0;
	transition: opacity 0.15s ease-out;
	z-index: @zindex-tooltip;
}

.Tooltip--visible {
	opacity: 1;
}

.Tooltip--left {
	margin-left: -3px;
	padding-right: @tooltip-arrow-width;
}
.Tooltip--right {
	margin-left: 3px;
	padding-left: @tooltip-arrow-width;
}
.Tooltip--top {
	margin-top: -3px;
	padding-bottom: @tooltip-arrow-width;
}
.Tooltip--bottom {
	margin-top: 3px;
	padding-top: @tooltip-arrow-width;
}

.Tooltip__body {
	@font-12-400();
	background-color: @black;
	max-width: 400px;
	padding: @sp-04 @sp-12;
	border-radius: 3px;
	white-space: pre-line;
	box-shadow: @shadow-06;
}

.Tooltip__arrow {
	position: absolute;
	border-color: transparent;
	border-style: solid;
}

.Tooltip--left > .Tooltip__arrow {
	right: 0;
	margin-top: -@tooltip-arrow-width;
	border-width: @tooltip-arrow-width 0 @tooltip-arrow-width @tooltip-arrow-width;
	border-left-color: @black;
}
.Tooltip--right > .Tooltip__arrow {
	left: 0;
	margin-top: -@tooltip-arrow-width;
	border-width: @tooltip-arrow-width @tooltip-arrow-width @tooltip-arrow-width 0;
	border-right-color: @black;
}
.Tooltip--top > .Tooltip__arrow {
	bottom: 0;
	margin-left: -@tooltip-arrow-width;
	border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
	border-top-color: @black;
}
.Tooltip--bottom > .Tooltip__arrow {
	top: 0;
	margin-left: -@tooltip-arrow-width;
	border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
	border-bottom-color: @black;
}
