@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	.FilterMenu {
		&--active {
			border-radius: initial;
			background-color: var(--layer);
			box-shadow: var(--shadow-04);
		}
	}
}
