@import '../../less/spacing';

@layer pelagos {
	.FilterArea {
		display: flex;
		flex: none;
		flex-flow: row wrap;
		align-items: center;
		align-content: space-between;
		gap: @sp-08;
		margin: 0;
		padding: @sp-16;
		list-style: none;
		overflow: hidden;
	}
}
