@import '../../less/spacing';

.Elevations {
	&__grid {
		display: grid;
		gap: @sp-64;
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		padding: @sp-64;
	}

	&__card {
		width: 100px;
		height: 100px;
		align-items: center;
		justify-content: center;
	}
}
