@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@border-size: 4px;

.SideNav {
	display: flex;
	flex-direction: column;
	background-color: var(--layer);

	&__items {
		flex: 1;
		padding: @sp-16 0 0;
		margin: 0;
		list-style: none;
		overflow-y: auto;
	}

	&__submenu {
		@font-14-600();
		@layer-hover-effects();
		@focus-visible();
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 32px;
		color: var(--text-secondary);
		background: none;
		border: none;
		padding: 0 @sp-16;
		cursor: pointer;

		&--active,
		&:hover,
		&:active {
			color: var(--text-primary);
		}

		&--current {
			color: var(--text-primary);
			background-color: var(--layer-selected);
		}

		&--current::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: @border-size;
			background-color: var(--border-interactive);
		}
	}

	&__submenuTitle {
		@ellipsis();
	}

	&__icon {
		transition: transform 0.15s ease-out;

		[aria-expanded='true'] & {
			transform: rotate(180deg);
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}

	&__link {
		@font-14-600();
		@ellipsis();
		position: relative;
		display: flex;
		align-items: center;
		min-height: 32px;
		color: var(--text-secondary);
		padding: 0 @sp-16;
		text-decoration: none;
		transition: background-color 0.15s ease-out;

		&:hover {
			color: var(--text-primary);
			background-color: var(--layer-hover);
			text-decoration: none;
		}

		&:active {
			color: var(--text-primary);
			background-color: var(--layer-active);
		}

		&:focus {
			outline-width: 2px;
			outline-offset: -2px;
		}

		&[aria-current] {
			color: var(--text-primary);
			background-color: var(--layer-selected);
		}

		&[aria-current]::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: @border-size;
			background-color: var(--border-interactive);
		}

		.SideNav__menu & {
			@font-14-400();
			padding-left: @sp-32;
		}

		.SideNav__menu &[aria-current] {
			@font-14-600();
		}
	}

	&__text--shortcut::first-letter {
		text-decoration: underline;
	}

	&__divider {
		height: 1px;
		margin: @sp-08 @sp-16;
		background-color: var(--border-strong);
	}
}
