@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@border-size: 4px;

@layer pelagos {
	.SideNav {
		display: flex;
		flex-direction: column;
		background-color: var(--background);

		&__items {
			flex: 1;
			padding: @sp-16 0 0;
			margin: 0;
			list-style: none;
			overflow: hidden auto;
		}

		&__submenu {
			@heading-compact-01();
			@focus-visible();
			position: relative;
			display: flex;
			align-items: center;
			text-align: left;
			width: 100%;
			height: 32px;
			color: var(--text-secondary);
			background: none;
			border: none;
			padding: 0 @sp-16;
			cursor: pointer;
			transition:
				color 0.15s ease-out,
				background-color 0.15s ease-out;

			&:hover {
				background-color: var(--background-hover);
			}

			&:active {
				background-color: var(--background-active);
			}

			&--active,
			&:hover,
			&:active {
				color: var(--text-primary);
			}

			&--current {
				color: var(--text-primary);
				background-color: var(--background-selected);
			}

			&--current::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: @border-size;
				background-color: var(--border-interactive);
			}
		}

		&__submenuTitle {
			@base-ellipsis();
			flex: 1;
		}

		&__icon {
			transition: transform 0.15s ease-out;

			[aria-expanded='true'] & {
				transform: rotate(180deg);
			}
		}

		&__menu {
			margin: 0;
			padding: 0;
			list-style: none;
			overflow: hidden;
		}

		&__link {
			@heading-compact-01();
			position: relative;
			display: flex;
			align-items: center;
			min-height: 32px;
			color: var(--text-secondary);
			padding: 0 @sp-16;
			overflow: hidden;
			transition:
				color 0.15s ease-out,
				background-color 0.15s ease-out;

			&:hover {
				color: var(--text-primary);
				background-color: var(--background-hover);
				text-decoration: none;
			}

			&:active {
				color: var(--text-primary);
				background-color: var(--background-active);
			}

			&:focus {
				outline-width: 2px;
				outline-offset: -2px;
			}

			&[aria-current] {
				color: var(--text-primary);
				background-color: var(--background-selected);
			}

			&[aria-current]::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: @border-size;
				background-color: var(--border-interactive);
			}

			.SideNav__menu & {
				@body-compact-01();
				padding-left: @sp-32;
			}

			.SideNav__menu &[aria-current] {
				@heading-compact-01();
			}
		}

		&__text {
			@base-ellipsis();

			&--shortcut::first-letter {
				text-decoration: underline;
			}
		}

		&__divider {
			height: 1px;
			margin: @sp-16;
			background-color: var(--border-subtle);
		}
	}
}
