@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';

.DropZone {
	margin-top: @sp-12;
}

.DropZone__content {
	@focus-visible();
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 155px;
	padding: @sp-08 @sp-12;
	background-color: var(--field);
	border: none;
	border-bottom: 1px solid var(--border-strong);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: left;
	cursor: pointer;
	transition: background-color 0.15s ease-out, border-color 0.15s ease-out;

	&:hover {
		background-color: var(--field-hover);
	}
}

.DropZone__content--error {
	@focus-visible-error();
	outline: 2px solid var(--support-error);
	outline-offset: -2px;
}
.DropZone__content--active {
	background-color: var(--field-hover);
}

.DropZone__uploaded {
	align-items: center;
}

.DropZone__icon {
	color: var(--layer-accent);
	margin: @sp-12 0;
	transition: color 0.15s ease-out;

	.DropZone__content--active & {
		color: var(--interactive);
	}

	.DropZone__content:hover & {
		color: var(--layer-accent-hover);
	}
}
.DropZone__icon--uploaded {
	font-size: 50px;
}
.DropZone__icon--empty {
	font-size: 90px;
	align-self: center;
}

.DropZone__hint {
	@font-12-400();
	color: var(--text-placeholder);
}

@media print {
	.DropZone__content {
		background-color: transparent;
		border-color: transparent;
	}
}
