@import '../../less/colors';
@import '../../less/fonts';

.FormTextInput {
	margin-bottom: 10px;
}

.FormTextInput__label {
	flex-direction: row;
}

.FormTextInput__optional {
	@font-10-400();
	color: @font-color-3;
	position: relative;
	top: -1px;
	margin-left: 12px;
}

.FormTextInput__input {
	height: 35px;
	padding: 6px 12px;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;

	&:focus {
		outline: 3px auto @bondi;
		outline-offset: -2px;
	}

	&.FormTextInput--error {
		border-color: @form-field-error;
	}

	&:focus.FormTextInput--error {
		outline-color: @form-field-error;
	}
}

.Dialog {
	.FormTextInput__input {
		color: @font-color-1;
	}
}

@media print {
	.FormTextInput__input {
		background-color: transparent;
		border-color: transparent;
	}
}
