@import '../../less/fonts';

.FormOutput {
	margin-bottom: 10px;
}

.FormOutput--value {
	@font-body-dim();
	padding: 5px 0;
}

.FormOutput--alignRight {
	text-align: right;
}

.FormOutput--active {
	@font-body-medium();
}
