@import '../../less/fonts';

.FormOutput {
	margin-bottom: 10px;
}

.FormOutput__value {
	@font-14-400();
	color: @font-color-2;
	padding: 5px 0;
}

.FormOutput--alignRight {
	text-align: right;
}

.FormOutput--active {
	color: @font-color-1;
}
