@import '../../less/fonts';
@import '../../less/spacing';

.OutputField {
	margin-top: @sp-12;
}

.OutputField__label {
	margin-bottom: @sp-04;
}

.OutputField__value {
	@font-14-400();
	color: @font-color-2;
	padding: 5px 0; // to match height of text field
}

.OutputField--alignRight {
	text-align: right;
}

.OutputField--active {
	color: @font-color-1;
}
