@import '../../less/fonts';

.OutputField {
	margin-bottom: 10px;
}

.OutputField__value {
	@font-14-400();
	color: @font-color-2;
	padding: 5px 0;
}

.OutputField--alignRight {
	text-align: right;
}

.OutputField--active {
	color: @font-color-1;
}
