@import '../../less/colors';
@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';

.TextInputField {
	margin-top: @sp-12;
}

.TextInputField__input {
	&.TextInputField--error {
		border-color: @form-field-error;
	}

	&:focus.TextInputField--error {
		@focus-ring-error();
	}
}

.Dialog {
	.TextInputField__input {
		background-color: @oxford;
	}
}

@media print {
	.TextInputField__input {
		background-color: transparent;
		border-color: transparent;
	}
}
