@import '../../less/colors';

.TextAreaField {
	margin-bottom: 10px;
}

.TextAreaField__area {
	height: 65px;
	padding: 6px 12px;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;

	&:focus {
		outline: 3px auto @bondi;
		outline-offset: -2px;
	}

	&.TextAreaField--error {
		border-color: @form-field-error;
	}

	&:focus.TextAreaField--error {
		outline-color: @form-field-error;
	}
}

.TextAreaField--noresize {
	resize: none;
}

@media print {
	.TextAreaField__area {
		background-color: transparent;
		border-color: transparent;
	}
}
