@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/spacing';

.TextAreaField {
	margin-top: @sp-12;
}

.TextAreaField__label {
	flex-direction: row;
	margin-bottom: @sp-04;
}

.TextAreaField__optional {
	@font-10-400();
	color: @font-color-3;
	position: relative;
	top: -1px;
	margin-left: @sp-12;
}

.TextAreaField__area {
	height: 65px;
	padding: @sp-04 @sp-12;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;
}

.TextAreaField--error {
	border-color: @form-field-error;
}

.TextAreaField--error:focus {
	outline-color: @form-field-error;
}

.TextAreaField--noresize {
	resize: none;
}

.Dialog {
	.TextAreaField__area {
		background-color: @oxford;
	}
}

@media print {
	.TextAreaField__area {
		background-color: transparent;
		border-color: transparent;
	}
}
