@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/focus';
@import '../../less/spacing';

.TextAreaField {
	margin-top: @sp-12;
}

.TextAreaField__area {
	height: 65px;
}

.TextAreaField--error {
	border-color: @form-field-error;
}

.TextAreaField--error:focus {
	@focus-ring-error();
}

.TextAreaField--noresize {
	resize: none;
}

.Dialog {
	.TextAreaField__area {
		background-color: @oxford;
	}
}

@media print {
	.TextAreaField__area {
		background-color: transparent;
		border-color: transparent;
	}
}
