@import '../../less/colors';
@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';

.TextInputField {
	margin-top: @sp-12;
}

.TextInputField__label {
	flex-direction: row;
	margin-bottom: @sp-04;
}

.TextInputField__optional {
	@font-10-400();
	color: @font-color-3;
	position: relative;
	top: -1px;
	margin-left: @sp-12;
}

.TextInputField__input {
	&.TextInputField--error {
		border-color: @form-field-error;
	}

	&:focus.TextInputField--error {
		@focus-ring-error();
	}
}

.Dialog {
	.TextInputField__input {
		background-color: @oxford;
	}
}

@media print {
	.TextInputField__input {
		background-color: transparent;
		border-color: transparent;
	}
}
