@import '../../less/fonts';
@import '../../less/spacing';

.BlockHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.BlockHeader__indicator {
	@font-10-400();
	color: var(--text-helper);
	margin-left: @sp-12;
}

.BlockHeader--configured {
	@font-12-400();
	color: var(--text-secondary);
}
