@import '../../less/fonts';
@import '../../less/spacing';

.BlockHeader {
	flex-direction: row;
	align-items: center;
}

.BlockHeader__indicator {
	@font-10-400();
	color: var(--font-color-3);
	margin-left: @sp-12;
}

.BlockHeader--configured {
	@font-12-400();
	color: var(--font-color-2);
}
