@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

.Button {
	@focus-visible();
	cursor: pointer;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	text-align: center;
	background-color: transparent;

	&--small {
		@font-12-600-uc();
		padding: @sp-04 @sp-12;
	}

	&--medium {
		@font-14-600-uc();
		padding: @sp-08 @sp-24;
	}

	&--large {
		@font-16-600-uc();
		padding: @sp-12 @sp-40;
	}

	&--primary {
		@primary-button-effects();
		color: var(--font-color-i1);
		border-color: var(--action-color);
		background-color: var(--action-color);
	}

	&--secondary {
		@secondary-button-effects();
		color: var(--action-color);
		border-color: var(--action-color);
	}

	&[aria-disabled='true'] {
		color: var(--disabled-color);
		border-color: var(--disabled-color);
		background-color: transparent;
	}
}
