@import '../../less/colors';
@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.CheckBox {
	@secondary-button-effects();
	display: inline-block;
	position: relative;
	padding-left: @sp-24;
	margin-left: @sp-02;
	cursor: pointer;
	outline: none;
}

.CheckBox::before,
.CheckBox::after {
	display: block;
	position: absolute;
	content: '';
}

.CheckBox::before {
	top: @sp-02;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid @slate;
	border-radius: 2px;
}
.CheckBox[aria-checked='true']::before {
	background-color: @ocean;
	border-color: @ocean;

	@media print {
		background-color: transparent;
		border-color: @battleship;
	}
}

.CheckBox--error::before {
	border-color: @burnt;
}
.CheckBox--error[aria-checked='true']::before {
	background-color: @burnt;
	border-color: @burnt;
}

.CheckBox:focus::before {
	@focus-ring();
}
.CheckBox--error:focus::before {
	@focus-ring-error();
}

.CheckBox[aria-checked='true']::after {
	top: 3px;
	left: 6px;
	width: 7px;
	height: 13px;
	border: solid @font-color-1;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);

	@media print {
		border-color: @black;
	}
}

.CheckBox[aria-disabled='true'] {
	color: @battleship;
	cursor: default;
	pointer-events: none;
}
.CheckBox[aria-disabled='true']::before {
	border-color: @battleship;
}
.CheckBox[aria-disabled='true'][aria-checked='true']::before {
	background-color: @battleship;
}
.CheckBox[aria-disabled='true']::after {
	border-color: @font-color-3;
}
