@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.CheckBox {
	@secondary-button-effects();
	display: inline-block;
	position: relative;
	padding-left: @sp-24;
	margin-left: @sp-02;
	cursor: pointer;
	outline: none;
}

.CheckBox::before,
.CheckBox::after {
	display: block;
	position: absolute;
	content: '';
}

.CheckBox::before {
	top: @sp-02;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid var(--check-border);
	border-radius: 2px;
}
.CheckBox[aria-checked='true']::before {
	background-color: var(--check-bg);
	border-color: var(--check-bg);

	@media print {
		background-color: transparent;
		border-color: var(--print-medium);
	}
}

.CheckBox--error::before {
	border-color: var(--check-error);
}
.CheckBox--error[aria-checked='true']::before {
	background-color: var(--check-error);
	border-color: var(--check-error);
}

.CheckBox:focus::before {
	@focus-ring();
}
.CheckBox--error:focus::before {
	@focus-ring-error();
}

.CheckBox[aria-checked='true']::after {
	top: 3px;
	left: 6px;
	width: 7px;
	height: 13px;
	border: solid var(--check-color);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);

	@media print {
		border-color: var(--print-color);
	}
}

.CheckBox[aria-disabled='true'] {
	color: var(--disabled-color);
	cursor: default;
	pointer-events: none;
}
.CheckBox[aria-disabled='true']::before {
	border-color: var(--disabled-color);
}
.CheckBox[aria-disabled='true'][aria-checked='true']::before {
	background-color: var(--disabled-color);
}
.CheckBox[aria-disabled='true']::after {
	border-color: var(--font-color-3);
}
