@import '../../less/colors';
@import '../../less/elevations';
@import '../../less/focus';
@import '../../less/shadows';
@import '../../less/spacing';

.ComboBox {
	position: relative;
	flex-direction: row;
	align-items: center;
}

.ComboBox__input {
	flex: 1;

	&.ComboBox--error {
		border-color: @form-field-error;
	}

	&:focus.ComboBox--error {
		@focus-ring-error();
	}
}

.ComboBox__add {
	margin-left: @sp-08;
}

.ComboBox__list {
	@elv-04();
	position: absolute;
	max-height: 15em;
	border-radius: 3px;
	padding: @sp-04 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
}

.ComboBox__option {
	padding: @sp-04 @sp-12;
	cursor: default;

	&:hover {
		background-color: @menu-hover;
	}

	&[aria-selected='true'] {
		background-color: @menu-current;
	}
}
