@import '../../less/colors';
@import '../../less/shadows';

.ComboBox {
	position: relative;
}

.ComboBox__suggestions {
	position: absolute;
	top: 37px;
	width: 100%;
	max-height: 165px;
	background-color: @oxford;
	border: 1px solid @fiord;
	border-radius: 3px;
	outline: none;
	padding: 4px 0;
	margin-top: -1px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	box-shadow: @shadow4;
}

.ComboBox__option {
	padding: 6px 12px;
	cursor: default;
}
.ComboBox__option[aria-selected='true'] {
	background-color: @fiord;
}
