@import '../../less/colors';
@import '../../less/elevations';
@import '../../less/shadows';
@import '../../less/spacing';

.ComboBox {
	position: relative;
}

.ComboBox__list {
	@elv-04();
	position: absolute;
	top: 31px;
	width: 100%;
	max-height: 15em;
	border-radius: 3px;
	padding: @sp-04 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
}

.ComboBox__option {
	padding: @sp-04 @sp-12;
	cursor: default;
}
.ComboBox__option[aria-selected='true'] {
	background-color: @fiord;
}
