@import '../../less/spacing';

.ConfirmDialog__body {
	flex-direction: row;
	align-items: flex-start;
	max-width: 30em;
}

.ConfirmDialog__icon {
	flex: none;
	color: var(--warn-color);
	margin-right: @sp-08;
	margin-top: @sp-04;
	font-size: 19px;
}
