@import '../../less/spacing';

.ConfirmDialog__body {
	flex-direction: row;
	align-items: flex-start;
}

.ConfirmDialog__icon {
	flex: none;
	color: var(--support-warning);
	margin-right: @sp-08;
	margin-top: @sp-04;
	font-size: 20px;
}
