@import '../../less/colors';
@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

.DataTable {
	flex: 1;
	overflow: hidden;
	position: relative;
	margin-top: @sp-16;
}

.DataTable__table {
	width: 99%;
	margin: @sp-02;
}

.DataTable__header {
	// stylelint-disable-next-line @bluecat/selector-bem
	.no-hiddenscroll & {
		padding-right: 17px; // stylelint-disable-line @bluecat/property-strict-value
	}
}

.DataTable__printHeader {
	display: none;
}

.DataTable__th {
	@font-12-600-uc();
	@base-ellipsis();
	color: @font-color-2;
	text-align: left;
	vertical-align: bottom;
	padding: 0 @sp-08;
	max-width: 0;
}

.DataTable__sort {
	@icon-button();
	display: inline-block;
	margin-left: @sp-12;
	color: @battleship;
	font-size: 14px;
	vertical-align: -2px;
	cursor: pointer;
}
.DataTable__sort--active {
	color: @action-color;
}

.DataTable__body {
	margin-top: @sp-16;
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	outline: none;
}

.DataTable__row,
.DataTable__row:nth-child(even) {
	@secondary-button-effects();
}
.DataTable__row:nth-child(even) {
	background-color: fade(@prussian, 50%);
}
.DataTable__row--focused,
.DataTable__row--focused:nth-child(even) {
	@focus-ring();
}
.DataTable__row[aria-selected='true'],
.DataTable__row[aria-selected='true']:nth-child(even) {
	background-color: @ocean;
}

.DataTable__row--highlight {
	animation: highlight-fade 2s ease-out;
}

.DataTable__row--clickable {
	cursor: pointer;
}

.DataTable__td {
	@base-ellipsis();
	vertical-align: middle;
	padding: @sp-02 @sp-08;
	max-width: 0;
}

.DataTable__message {
	@font-16-400();
	color: @font-color-3;
	white-space: pre-line;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.DataTable__spinner {
	position: relative;
	height: 26px;
}

@media print {
	.DataTable__header {
		display: none;
	}

	.DataTable__printHeader {
		display: table-header-group;
	}

	.DataTable__row:nth-child(even) {
		background-color: transparent;
	}

	.DataTable__th {
		color: @black;
	}

	.DataTable__sortable::after {
		display: none;
	}
}
