@import '../../less/breakpoints';
@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

.DetailsTable {
	margin-top: @sp-16;
}

.DetailsTable__headRow,
.DetailsTable__row {
	display: -ms-grid;
	display: grid;
	grid-gap: @sp-16 @sp-24;
	-ms-grid-columns: 1fr @sp-24 1fr @sp-24 1fr;
	.details-grid(columns; 1fr; repeat(2, minmax(0, 1fr)) ; repeat(3, minmax(0, 1fr)) ; repeat(4, minmax(0, 1fr)));
	-ms-grid-rows: min-content;
	grid-auto-rows: min-content;
}

.DetailsTable__headRow {
	@font-12-600();
	display: none;
	color: var(--text-secondary);
	margin-top: @sp-08;

	.breakpoint(lg, {
		display: grid;
	});
}

.DetailsTable__row {
	margin-top: @sp-04;
}

.DetailsTable__row:not(:last-child) {
	padding-bottom: @sp-04;
	border-bottom: 1px solid var(--border-subtle);
}
