@import '../../less/spacing';
@import '../../less/utils';

.DetailsList {
	margin-top: @sp-16;
}

.DetailsList__grid {
	display: grid;
	grid-gap: @sp-08 @sp-24;
	.details-grid(columns; 1fr; repeat(2, 1fr) ; repeat(3, 1fr) ; repeat(4, 1fr));
	grid-auto-rows: min-content;
	margin-top: @sp-04;
}

.DetailsList__item {
	@ellipsis();
}
