@import '../../less/elevations';
@import '../../less/fonts';
@import '../../less/modal';
@import '../../less/spacing';
@import '../../less/utils';

.Dialog__backdrop {
	@modal-backdrop();
	align-items: center;
	justify-content: center;
}

.Dialog {
	@elv-24();
	position: relative;
	border-radius: 3px;
	max-width: 66vw;
	overflow: hidden;
}

.Dialog__title {
	@font-16-600();
	@ellipsis();
	border-radius: 3px 3px 0 0;
	padding: @sp-12 @sp-24;
	border-bottom: 1px solid var(--border-subtle);
}

.Dialog__body {
	margin: @sp-40 @sp-24;
	flex: 1 auto; // Fixes bug in IE
	overflow: hidden;
}

.Dialog__buttons {
	flex-direction: row;
	padding: @sp-12;
	justify-content: flex-end;
}

.Dialog__buttons > :not(:last-child) {
	margin-right: @sp-12;
}
