@import '../../less/colors';
@import '../../less/elevations';
@import '../../less/fonts';
@import '../../less/modal';
@import '../../less/shadows';
@import '../../less/spacing';

.Dialog__backdrop {
	@modal-backdrop();
	align-items: center;
	justify-content: center;
}

.Dialog {
	@elv-24();
	position: relative;
	border-radius: 3px;
	max-width: 66vw;
}

.Dialog__title {
	@font-16-600();
	display: block;
	border-radius: 3px 3px 0 0;
	padding: @sp-12 @sp-24;
	border-bottom: 1px solid @separator;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Dialog__body {
	margin: @sp-40 @sp-24;
}

.Dialog__buttons {
	flex-direction: row;
	padding: @sp-12;
	justify-content: flex-end;
}

.Dialog__buttons > :not(:last-child) {
	margin-right: @sp-12;
}
