@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/shadows';

.Dialog__backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: @modal-bg;
	align-items: center;
	justify-content: center;
	z-index: 5700;
}

.Dialog {
	position: relative;
	border-radius: 3px;
	background-color: @prussian;
	box-shadow: @shadow24;
	max-width: 66vw;
}

.Dialog__title {
	@font-16-600();
	border-radius: 3px 3px 0 0;
	padding: 11px 21px;
	background-color: @fiord;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Dialog__body {
	margin: 42px 21px;
}

.Dialog__buttons {
	flex-direction: row;
	border-top: 1px solid @fiord;
	padding: 12px;
	justify-content: flex-end;
}

.Dialog__buttons :not(:last-child) {
	margin-right: 12px;
}
