@import '../../less/spacing';
@import '../../less/utils';

.EditorGrid {
	display: -ms-grid;
	display: grid;
	grid-column-gap: @sp-24;
	-ms-grid-columns: 1fr @sp-24 1fr @sp-24 1fr;
	.editor-grid(columns; 1fr; repeat(2, 1fr) ; repeat(3, 1fr) ; repeat(4, 1fr) ; repeat(6, 1fr));
	-ms-grid-rows: min-content;
	grid-auto-rows: min-content;
}
