@import '../../less/spacing';

.EditorTable {
	flex: 1;
	overflow: hidden;
	padding: @sp-24 @sp-04 @sp-24 @sp-40;
}

.EditorTable__main {
	flex: 1;
	overflow: hidden;
}

.EditorTable--narrow {
	// stylelint-disable-next-line @bluecat/property-strict-value
	margin-right: 45vw; // to match details panel width
}

.EditorTable__buttons {
	flex-direction: row;
	align-items: center;
	margin-top: @sp-12;

	@media print {
		display: none;
	}
}

.EditorTable__buttons > :not(:last-child) {
	margin-right: @sp-16;
}

.EditorTable__filter {
	width: 100%;
	max-width: 15em;
	margin-left: auto;
}

.EditorTable__data > .DataTable {
	flex: 1;
	overflow: hidden;
}
