@import '../../less/spacing';
@import '../../less/utils';

.IconButton {
	@icon-button();
	display: inline-block;
	font-size: 19px;
	padding: @sp-02;

	&--large {
		font-size: 31px;
	}

	@media print {
		display: none;
	}
}
