@import '../../less/fonts';
@import '../../less/spacing';

.LabelLine__label {
	flex-direction: row;
	margin-bottom: @sp-04;
}

.LabelLine__optional {
	@font-10-400();
	color: var(--font-color-3);
	margin-left: @sp-12;
}

.LabelLine__notice {
	@font-10-400();
	color: var(--notice-color);
	margin-left: @sp-12;
}
