@import '../../less/colors';
@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.RadioButton {
	@secondary-button-effects();
	display: inline-block;
	position: relative;
	padding-left: @sp-24;
	margin-left: @sp-02;
	cursor: pointer;
	outline: none;
}

.RadioButton::before,
.RadioButton::after {
	display: block;
	position: absolute;
	border-radius: 50%;
	content: '';
}

.RadioButton::before {
	top: @sp-02;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid @slate;
}
.RadioButton[aria-checked='true']::before {
	background-color: @ocean;
	border-color: @ocean;

	@media print {
		background-color: transparent;
		border-color: @battleship;
	}
}

.RadioButton--error::before {
	border-color: @burnt;
}
.RadioButton--error[aria-checked='true']::before {
	background-color: @burnt;
	border-color: @burnt;
}

.RadioButton:focus::before {
	@focus-ring();
}
.RadioButton--error:focus::before {
	@focus-ring-error();
}

.RadioButton[aria-checked='true']::after {
	top: 7px;
	left: 5px;
	border: 4px solid @white;

	@media print {
		border-color: @black;
	}
}
