@import '../../less/spacing';
@import '../../less/utils';

.SearchField {
	position: relative;
}

.SearchField__input[type='text'] {
	padding-right: @sp-24;
}

.SearchField__icon {
	@icon-button-nested();
	position: absolute;
	top: 6px;
	right: 2px;
	padding: @sp-02;
	font-size: 19px;
}
