@import '../../less/colors';
@import '../../less/fonts';
@import '../../less/shadows';
@import '../../less/spacing';

.Select {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
}

.Select__text {
	display: inline-block;
	width: 100%;
	height: 31px;
	padding: @sp-04 @sp-24 @sp-04 @sp-12;
	background-color: @form-field-bg;
	border: 1px solid @form-field-border;
	border-radius: 3px;

	&:focus {
		outline: 2px solid @bondi;
		outline-offset: -2px;
	}
}
.Select__text--empty::before {
	@font-12-400();
	color: @sky;
	content: attr(data-placeholder);
}
.Select__text--error {
	border-color: @form-field-error;
}
.Select__text--error:focus {
	outline-color: @form-field-error;
}
.Select__text[aria-disabled='true'] {
	cursor: default;
	color: @battleship;
	border-color: @battleship;
}

.Select__icon {
	position: absolute;
	top: 8px;
	right: 8px;
}

.Select__list {
	position: absolute;
	top: 31px;
	width: 100%;
	max-height: 15em;
	background-color: @oxford;
	border: 1px solid @fiord;
	border-radius: 3px;
	outline: none;
	padding: @sp-04 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	box-shadow: @shadow4;
}

.Select__option {
	display: block;
	padding: @sp-04 @sp-12;
}
.Select__option--focused {
	background-color: @fiord;
}

@media print {
	.Select__text {
		background-color: transparent;
		border-color: transparent;
	}

	.Select__text::before {
		display: none;
	}
}
