@import '../../less/elevations';
@import '../../less/focus';
@import '../../less/fonts';
@import '../../less/spacing';

.Select {
	position: relative;
	margin: @sp-02;
	white-space: nowrap;
	cursor: pointer;
}

.Select__text {
	display: inline-block;
	width: 100%;
	height: 31px;
	padding: @sp-04 @sp-24 @sp-04 @sp-12;
	background-color: var(--form-field-bg);
	border: 1px solid var(--form-field-border);
	border-radius: 3px;

	&:hover {
		background-color: var(--form-field-hover);
	}

	&:focus {
		@focus-ring();
	}

	.Dialog & {
		background-color: var(--form-field-dialog-bg);
	}
}
.Select__text--empty::before {
	@font-12-400();
	color: var(--form-field-hint);
	content: attr(data-placeholder);
}
.Select__text--error {
	border-color: var(--form-field-error);
}
.Select__text--error:focus {
	@focus-ring-error();
}
.Select__text[aria-disabled='true'] {
	cursor: default;
	color: var(--disabled-color);
	border-color: var(--disabled-color);
}
.Select__text[aria-disabled='true']::before {
	color: var(--disabled-color);
}

.Select__icon {
	position: absolute;
	top: 8px;
	right: 8px;
}

.Select__list {
	@elv-04();
	position: absolute;
	max-height: 15em;
	border-radius: 3px;
	padding: @sp-04 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
}

.Select__option {
	display: block;
	padding: @sp-04 @sp-12;

	&:hover {
		background-color: var(--menu-hover);
	}

	&--focused,
	&--focused:hover {
		background-color: var(--menu-current);
	}
}

@media print {
	.Select__text {
		background-color: transparent;
		border-color: transparent;
	}

	.Select__text::before {
		display: none;
	}
}
