.Spinner {
	position: absolute;
	top: calc(50% - 0.5em);
	left: calc(50% - 0.5em);
}

.Spinner--tiny {
	font-size: 4px;
}

.Spinner--small {
	font-size: 7px;
}

.Spinner--medium {
	font-size: 10px;
}

.Spinner--large {
	font-size: 14px;
}
