.Spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}

.Spinner--tiny {
	font-size: 4px;
}

.Spinner--small {
	font-size: 7px;
}

.Spinner--medium {
	font-size: 10px;
}

.Spinner--large {
	font-size: 14px;
}
