@import '../../less/colors';
@import '../../less/elevations';
@import '../../less/spacing';
@import '../../less/utils';

.Tabs {
	flex-direction: row;
	outline: none;
}

.Tabs__tab {
	@secondary-button-effects();
	cursor: pointer;
	border-bottom: 3px solid transparent;

	.Tabs:focus > &[data-focused] {
		background-color: @secondary-button-active;
	}

	&[aria-selected='true'] {
		color: @font-color-1;
		border-bottom-color: @action-color;
	}

	@media print {
		&[aria-selected='true'] {
			color: @black;
			border-bottom-color: transparent;
		}
	}
}
