@import '../../less/colors';
@import '../../less/shadows';
@import '../../less/spacing';

.ToastMessage {
	position: relative;
	overflow: hidden;
	padding: @sp-12 @sp-24;
	border-radius: 3px;
	box-shadow: @shadow-16;
	cursor: pointer;
}
.ToastMessage:not(:last-child) {
	margin-bottom: @sp-12;
}

.ToastMessage--action {
	text-align: center;
	background-color: @ocean;
}

.ToastMessage--success {
	text-align: center;
	background-color: @ocean;
}

.ToastMessage--warning {
	background-color: @goldenrod;
	color: @font-color-black;
}

.ToastMessage--error {
	background-color: @burnt;
	color: @font-color-black;
}

.ToastMessage--fatal {
	background-color: @burnt;
	color: @font-color-black;
}

.ToastMessage--info {
	background-color: @ocean;
}

.ToastMessage__text {
	word-wrap: break-word;
}

.ToastMessage__text--closeable {
	margin-right: @sp-24;
}

.ToastMessage__close {
	position: absolute;
	right: 29px;
	top: 15px;
	font-size: 19px;
}
