@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/zindexes';

.Toast {
	@font-16-400();
	position: fixed;
	z-index: @zindex-toast;
	top: @sp-16;
	left: 50%;
	width: 50vw;
	margin-left: -25vw;
}

@media print {
	.Toast {
		display: none;
	}
}
