@import '../../less/fonts';

.Toast {
	@font-16-400();
	position: fixed;
	z-index: 5800;
	top: 14px;
	left: 50%;
	width: 700px;
	margin-left: -350px;
}

@media print {
	.Toast {
		display: none;
	}
}
