@import '../../less/colors';
@import '../../less/spacing';

.Toggle {
	display: inline-block;
	position: relative;
	width: 44px;
	height: 20px;
	margin: @sp-04;
	cursor: pointer;
	outline: none;
	transition: opacity 0.15s;
}

.Toggle[aria-disabled='true'] {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}

.Toggle::before,
.Toggle::after {
	display: block;
	position: absolute;
	content: '';
}

.Toggle::before {
	top: 3px;
	left: 2px;
	width: 41px;
	height: 14px;
	padding: 0;
	border-radius: 30px;
	background-color: @form-field-bg;
	transition: all 0.15s ease;
}
.Toggle[aria-checked='true']::before {
	background-color: @dartmouth;
}

.Toggle::after {
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: @silver;
	transition: all 0.15s ease-out;
}
.Toggle[aria-checked='true']::after {
	background-color: @emerald;
	left: 24px;
}
.Toggle:hover::before {
	background-color: @form-field-hover;
}
.Toggle[aria-checked='true']:hover::before {
	background-color: fade(@emerald, 45%);
}
.Toggle:hover::after {
	box-shadow: 0 0 0 4px @toggle-hover;
}
.Toggle:focus::after {
	box-shadow: 0 0 0 1px @ocean, 0 0 0 4px @toggle-focus;
}
.Toggle:active::after {
	box-shadow: 0 0 0 1px @ocean, 0 0 0 4px @toggle-active;
}
