@import '../../less/colors';

.ToolbarButton {
	font-size: 21px;
	border: 2px solid @azure;
	border-radius: 3px;
	padding: 4px 6px;
	transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.ToolbarButton--active {
	color: @white;
	background-color: @azure;
}

.ToolbarButton:hover {
	border-color: @sea;
}

.ToolbarButton--active:hover {
	color: @white;
	background-color: @sea;
}

.ToolbarButton:active {
	color: @oxford;
	background-color: @ocean;
	border-color: @ocean;
}

.ToolbarButton:focus {
	outline: 5px auto @bondi;
	outline-offset: -2px;
}

.ToolbarButton[aria-disabled='true'],
.ToolbarButton[aria-disabled='true']:hover,
.ToolbarButton[aria-disabled='true']:active {
	background-color: transparent;
	border-color: @battleship;
	cursor: not-allowed;
}
