@import '../../less/colors';
@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.ToolbarButton {
	@focus-visible();
	@primary-button-effects();
	font-size: 21px;
	color: @oxford;
	background-color: @action-color;
	border: 1px solid @action-color;
	border-radius: 3px;
	padding: @sp-04;

	&[aria-disabled='true'],
	&[aria-disabled='true']:hover,
	&[aria-disabled='true']:active {
		background-color: transparent;
		border-color: @battleship;
		cursor: not-allowed;
	}
}
