@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.ToolbarButton {
	@focus-visible();
	@primary-button-effects();
	font-size: 21px;
	color: var(--font-color-i1);
	background-color: var(--action-color);
	border: 1px solid var(--action-color);
	border-radius: 3px;
	padding: @sp-04;

	&[aria-disabled='true'],
	&[aria-disabled='true']:hover,
	&[aria-disabled='true']:active {
		background-color: transparent;
		border-color: var(--disabled-color);
		cursor: not-allowed;
	}
}
