@import '../../less/fonts';
@import '../../less/spacing';
@import '../../less/utils';

@layer pelagos {
	:root {
		--table-row-height: 32px;
	}

	.Table {
		&--fixed {
			table-layout: fixed;
		}

		&--left {
			text-align: left;
		}

		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}

		& tr {
			height: var(--table-row-height);
		}

		&--sticky > thead {
			top: 0;
			position: sticky;
			z-index: 1;
		}

		& > tbody > tr {
			@layer-hover-effects();
			@focus-visible();
			color: var(--text-secondary);
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;

			&[aria-selected='true'],
			&[aria-selected='true']:nth-child(even) {
				color: var(--text-primary);
				background-color: var(--layer-selected);
				border-bottom-color: var(--border-subtle-selected);

				&:hover {
					background-color: var(--layer-selected-hover);
				}

				@media print {
					background-color: transparent;
				}
			}

			// bug in stylelint: no matter the order this selector will always conflict with the one above
			// stylelint-disable-next-line no-descending-specificity
			&[aria-selected='true']:first-child {
				border-top-color: var(--border-subtle-selected);
			}

			.IconButton {
				&:hover {
					background-color: var(--layer-selected-hover);
				}
			}
		}

		& > tbody > tr:hover {
			color: var(--text-primary);
		}

		&--line td {
			border-bottom: 1px solid var(--border-subtle);

			@media print {
				border-bottom-color: transparent;
			}
		}

		&--zebra > tbody > tr:nth-child(even) {
			background-color: var(--layer-accent);

			&:hover {
				background-color: var(--layer-accent-hover);
			}

			&:active {
				background-color: var(--layer-accent-active);
			}

			@media print {
				background-color: transparent;
			}
		}

		& > thead {
			@heading-compact-01();
			color: var(--text-secondary);
			background-color: var(--layer-accent);

			@media print {
				color: var(--print-medium);
				background-color: transparent;
			}
		}

		& th,
		& td {
			vertical-align: middle;
			padding: 0 @sp-16;
			font: inherit;
		}

		& th {
			@base-ellipsis();
			position: relative;

			&.Table--sortable {
				padding: 0;
			}

			&:not(:first-child)::before {
				content: '';
				position: absolute;
				top: 25%;
				left: 0;
				height: 50%;
				border-left: 1px solid var(--border-strong);
			}
		}

		& th[aria-sort='ascending']::before,
		& th[aria-sort='descending']::before,
		& th[aria-sort='ascending'] + th::before,
		& th[aria-sort='descending'] + th::before,
		& th.Table__expandHeader + th::before {
			display: none;
		}

		& td {
			@base-ellipsis();
			max-width: 0;
		}

		&__sort {
			@focus-visible();
			display: flex;
			width: 100%;
			height: var(--table-row-height);
			align-items: center;
			background-color: transparent;
			border: none;
			padding: 0 0 0 @sp-16;
			font: inherit;
			text-transform: inherit;
			cursor: pointer;
			transition: background-color 0.15s ease-out;

			&:hover {
				background-color: var(--layer-accent-hover);
			}

			&:active {
				color: var(--text-primary);
				background-color: var(--layer-accent-active);
			}

			&--active {
				color: var(--text-primary);
				background-color: var(--layer-accent-hover);
			}
		}

		&__sortLabel {
			@ellipsis();
			flex: 1;
		}

		&__sortIcon {
			margin: 0 @sp-04;
			color: var(--icon-secondary);
			vertical-align: -2px;
			cursor: pointer;
			opacity: 0.25;
			transition: opacity 0.15s ease-out;

			.Table__sort--active > & {
				color: var(--icon-primary);
				opacity: 1;
			}

			.Table__sort:hover &,
			.Table__sort:focus & {
				opacity: 1;
			}

			@media print {
				display: none;
			}
		}

		&__expandBtn {
			@focus-visible();
			display: flex;
			width: 32px;
			height: 32px;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			border: none;
			padding: 0;
			cursor: pointer;
			transition: background-color 0.15s ease-out;

			&:hover {
				background-color: var(--layer-accent-hover);
			}

			&:active {
				background-color: var(--layer-accent-active);
			}
		}

		&__expandArrow {
			color: var(--link-primary);
			transition: transform 0.15s ease-out;

			.Table--expandedRow & {
				transform: rotate(180deg);
			}
		}

		&__childContainer {
			// stylelint-disable-next-line @bluecateng/selector-bem -- the selector is too complex
			.Table__parentRow.Table--expandedRow + .Table__expandableRow & {
				padding: @sp-16 0 @sp-24;
			}

			.Table__parentRow:not(.Table--expandedRow) + .Table__expandableRow & {
				height: 0;
				overflow: hidden;
			}
		}

		& > tbody > tr.Table__expandableRow > td {
			// stylelint-disable-next-line @bluecateng/property-strict-value -- matches parent row spacing
			padding-left: 56px;
			border: none;
		}

		&__expandableRow {
			.Table__parentRow:hover + & {
				background-color: var(--layer-hover);
			}

			.Table__parentRow:not(.Table--expandedRow) + & {
				height: 0;
				transition: height 0.15s ease-out;
			}

			// stylelint-disable-next-line @bluecateng/selector-bem -- the selector is too complex
			.Table__parentRow.Table--expandedRow + & td {
				border-bottom: 1px solid var(--border-subtle);
			}
		}

		&--parentRowHover {
			background-color: var(--layer-hover);
		}

		&__header {
			margin: @sp-16 @sp-16 @sp-24 @sp-16;
		}

		&__title {
			@heading-03();
		}

		&__description {
			color: var(--text-secondary);
		}

		&__toolbar {
			position: relative;
			height: var(--table-row-height);
			contain: content;
			overflow: hidden;

			&--sectioned {
				flex-direction: row;
				gap: @sp-16;
				margin-bottom: @sp-16;
			}

			& .Button {
				height: var(--table-row-height);
			}
		}

		&__toolbarBatch {
			position: absolute;
			inset: 0;
			flex-direction: row;
			align-items: center;
			background-color: var(--background-brand);
			transition: transform 0.15s ease-out;
			transform: translateY(var(--table-row-height));
			will-change: transform;

			&--active {
				transform: translateY(0);
			}
		}

		&__toolbarBatchCount {
			@ellipsis();
			flex: 1;
			color: var(--text-on-color);
			margin: 0 @sp-16;
		}

		&__toolbarBatchButtons {
			flex-direction: row;
		}

		&__toolbarBatchCancel {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 25%;
				left: 0;
				height: 50%;
				border-left: 1px solid var(--text-on-color);
				transition: opacity 0.15s ease-out;
			}

			&:hover::before,
			&:focus::before,
			:hover + &::before,
			:focus + &::before,
			:focus-within + &::before {
				opacity: 0;
			}
		}

		&__toolbarDefault {
			flex-direction: row;
			transition: transform 0.15s ease-out;

			.Table__toolbarBatch--active + & {
				transform: translateY(var(--table-row-height));
			}
		}

		&--toolbarStart {
			justify-content: flex-start;
		}

		&--toolbarEnd {
			justify-content: flex-end;
		}

		&__toolbarSection {
			position: relative;
			contain: content;
			overflow: hidden;
			flex-direction: row;

			&--start {
				gap: @sp-08;
			}

			&--middle {
				flex: 1;
			}

			&--end {
				align-self: flex-end;
			}
		}

		&__search {
			flex: 1;

			.Table__toolbar--default & .Search__input {
				border-bottom: none;
			}

			.Table__toolbar--default & .Search__input:not(:hover) {
				background-color: transparent;
			}

			.Table__toolbar--default & .Search__clear:hover {
				border-bottom: none;
			}

			.Search__clear::before {
				display: none;
			}
		}

		&__wrapper {
			flex: 1;
			overflow: hidden scroll;
			contain: strict;
			outline: none;

			// workaround to avoid the focus ring to be truncated
			&:focus-visible::before {
				content: '';
				position: absolute;
				inset: 0;
				border: 2px solid var(--focus);
				z-index: 1000;
			}
		}

		&__empty {
			color: var(--text-helper);
			margin-top: @sp-32;
			white-space: pre-line;
			text-align: center;
		}
	}

	th.Table__selectAll,
	th.Table--radioHeader,
	td.Table--selectRow {
		width: 40px;
		min-width: 40px;
		max-width: 40px;
		padding: 0 @sp-04 0 @sp-16;
		text-align: left;
	}

	th.Table--radioHeader {
		opacity: 0;
	}

	th.Table__expandHeader,
	td.Table__expandCell {
		width: 40px;
		min-width: 40px;
		max-width: 40px;
		padding: 0 0 0 @sp-08;
	}

	.Table--expandedRow > .Table__expandCell {
		border-bottom: 1px solid transparent;
	}
}
