@import '../../less/spacing';

.TableStory__wrapper {
	align-self: stretch;
	background-color: var(--layer);
}

.TableStory__wrapperScroll {
	align-self: stretch;
	height: calc(100vh - 2rem);
	// stylelint-disable-next-line @bluecateng/property-strict-value -- to match other stories
	margin: 1rem;
	background-color: var(--layer);
}

.TableStory--default {
	& > thead > tr > :nth-child(1) {
		width: 60%;
	}

	& > thead > tr > :nth-child(2) {
		width: 15%;
	}

	& > thead > tr > :nth-child(3) {
		width: 25%;
	}
}

.TableStory--inlineActions {
	& > thead > tr > :nth-child(4) {
		width: 96px;
	}
}

.TableStory__inlineButtons {
	flex-direction: row;
	justify-content: flex-end;
}

.TableStory--inlineMenu {
	& > thead > tr > :nth-child(4) {
		width: 64px;
	}
}

.TableStory--figma {
	& > thead > tr > .TableStory__header {
		min-width: 10em;
	}

	& > thead > tr > .TableStory__icons {
		min-width: 96px;
	}

	& > thead > tr > .TableStory__menu {
		min-width: 64px;
	}
}
