@import '../packages/pelagos/less/core';
@import '../packages/pelagos/less/elevations';
@import '../packages/pelagos/less/inputs';
@import '../packages/pelagos/less/reorder';
@import '../packages/pelagos/less/scrollbar';
@import '../packages/pelagos/less/spacing';
@import '../packages/pelagos/less/spinner';
@import '../packages/pelagos/less/themes';
@import '../packages/pelagos-charts/less/palettes';

[data-theme='white'] {
	.theme-white();
	.charts-light();
}

[data-theme='cg00'] {
	.theme-cg00();
	.charts-light();
}

[data-theme='yg100'] {
	.theme-yg100();
	.charts-dark();
}

[data-theme='g100'] {
	.theme-g100();
	.charts-dark();
}

:root {
	@root-font();
	transition: background-color 0.15s ease-out;

	&[data-layer='1'],
	&[data-layer='2'],
	&[data-layer='3'] {
		background-color: var(--layer);
	}
}

body {
	@body-compact-01();
}

#storybook-root {
	align-items: flex-start;
}

.Story__row {
	flex-direction: row;
	align-self: stretch;
	gap: @sp-24;
}

.Story__group {
	align-self: flex-start;
	align-items: flex-start;
	gap: @sp-12;
}

.Story__stretch {
	width: 100vw;
	height: 100vh;
}

.Story__alignStretch {
	align-self: stretch;
}

.Story__chart {
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
}

.CssSpinner {
	.css-spinner();

	[data-theme='g100'] &,
	[data-theme='yg100'] & {
		animation-name: spinner-dark;
	}

	[data-theme='cg00'] &,
	[data-theme='white'] & {
		animation-name: spinner-light;
	}
}
