@import '../less/core';
@import '../less/animations';
@import '../less/inputs';
@import '../less/scrollbar';
@import '../less/spacing';
@import '../less/spinner';

body {
	@root-font();
	color: @font-color-1;
	transition: background-color 0.3s ease-out;
}

#root {
	align-items: flex-start;
}

.Story__row {
	flex-direction: row;
	align-self: stretch;
}
.Story__row > :not(:first-child) {
	margin-left: @sp-24;
}

.Story__group {
	align-self: flex-start;
}

.Story__group > :not(:first-child) {
	margin-top: @sp-12;
}

.Story__table {
	height: 400px;
	align-self: stretch;
}

// stylelint-disable-next-line @bluecat/selector-bem
.assistive-text {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
