@import '../less/core';
@import '../less/inputs';
@import '../less/scrollbar';
@import '../less/spacing';
@import '../less/spinner';
@import '../less/themes';

:root {
	@root-font();
	transition: background-color 0.15s ease-out;

	&[data-theme='dark'] {
		.theme-dark();
	}

	&[data-theme='light'] {
		.theme-light();
	}
}

#root {
	align-items: flex-start;
}

.Story__row {
	flex-direction: row;
	align-self: stretch;
}
.Story__row > :not(:first-child) {
	margin-left: @sp-24;
}

.Story__group {
	align-self: flex-start;
}

.Story__group > :not(:first-child) {
	margin-top: @sp-12;
}

.Story__stretch {
	width: 100vw;
	height: 100vh;
}

.CssSpinner {
	.css-spinner();

	[data-theme='dark'] & {
		animation-name: spinner-dark;
	}

	[data-theme='light'] & {
		animation-name: spinner-light;
	}
}
