@import '../less/core';
@import '../less/animations';
@import '../less/inputs';
@import '../less/scrollbar';
@import '../less/spinner';

body {
	@root-font();
	color: @font-color-1;
	background-color: @oxford;
	transition: background-color 0.3s ease-out;
}

.Story__wrapper {
	margin: 24px 16px;
}

.Story__row {
	flex-direction: row;
}
.Story__row > :not(:first-child) {
	margin-left: 30px;
}

.Story__group {
	align-self: flex-start;
}

.Story__group > :not(:first-child) {
	margin-top: 12px;
}

.Story__table {
	height: 400px;
}
