@import 'focus';
@import 'headers';
@import 'layers';
@import 'spacing';

:root {
	color: var(--text-primary);
	background-color: var(--background);

	@media print {
		height: auto;
		color: var(--print-color);
		background-color: transparent;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

div,
form,
main,
header,
footer {
	display: flex;
	flex-direction: column;
	flex: none;
}

a {
	color: var(--link-primary);
	cursor: pointer;
	border-radius: 3px;
	outline: none;

	&:hover {
		color: var(--link-primary-hover);
	}

	&:active {
		color: var(--text-primary);
	}

	&:focus-visible {
		outline: 1px solid var(--focus);
		outline-offset: 0;
	}

	@media print {
		color: var(--print-color);
	}
}

p {
	margin: 0;
	padding: 0;
}

ol {
	margin: @sp-04 0;
	padding-left: @sp-16;
}

table {
	border-collapse: collapse;
}

// stylelint-disable-next-line @bluecateng/selector-bem
.sr-only,
// @deprecated use sr-only instead
.assistive-text {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

@keyframes highlight-fade {
	0% {
		background-color: var(--interactive);
	}
}
