@import 'fonts';
@import 'utils';

@layer pelagos {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@base-ellipsis();
		margin: 0;
		padding: 0;
		flex: none;
	}

	h1 {
		@heading-04();
	}

	h2 {
		@heading-03();
	}

	h3 {
		@heading-02();
	}

	h4 {
		@heading-compact-02();
	}

	h5 {
		@heading-01();
	}

	h6 {
		@heading-compact-01();
	}
}
