@import 'fonts';
@import 'utils';

@layer pelagos {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@base-ellipsis();
		margin: 0;
		padding: 0;
	}

	h1 {
		@font-24-400();
	}

	h2 {
		@font-18-400();
	}

	h3 {
		@font-16-600();
	}

	h4 {
		@font-14-600();
	}

	h5 {
		@font-12-600();
		color: var(--text-secondary);
	}

	h6 {
		@font-10-600();
		color: var(--text-secondary);
	}
}
