@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.FilterMenu {
	margin-left: @sp-08;

	&--active {
		border-radius: initial;
		background-color: var(--layer);
		box-shadow: var(--shadow-04);
	}
}
