@import '../../less/focus';
@import '../../less/spacing';
@import '../../less/utils';

.FilterList {
	flex-direction: row;
	flex: 1;
	margin-left: @sp-08;
	overflow: hidden;
}

.FilterList__items {
	flex-direction: row;
}

.FilterList__filterTitle {
	margin-right: @sp-08;
	color: var(--text-secondary);

	@media print {
		color: var(--print-medium);
	}
}

.FilterList__item {
	flex-direction: row;
	background-color: var(--layer);
	color: var(--text-value);

	@media print {
		color: var(--print-color);
		background-color: transparent;
	}
}

.FilterList__item:not(:first-child) {
	margin-left: @sp-16;
}

.FilterList__button {
	@focus-visible();
	@layer-hover-effects();
	background-color: transparent;
	border: none;
	border-radius: 3px;
	padding: @sp-04 @sp-08;
	cursor: pointer;
}

.FilterList__remove {
	@icon-button();
	font-size: 16px;
	padding: @sp-02;
}
