@import '../../less/elevations';
@import '../../less/spacing';

.FilterEditor {
	@elv-04();
	position: absolute;
	padding: @sp-08 @sp-16;
	border-radius: 3px;
}

.FilterEditor > .ListInput {
	width: 240px;
}

.FilterEditor__save {
	margin-top: @sp-12;
	align-self: flex-start;
}
