@import '../../less/colors';
@import '../../less/focus';
@import '../../less/shadows';
@import '../../less/spacing';
@import '../../less/utils';

.FilterList {
	flex-direction: row;
	flex: 1;
	margin-left: @sp-16;
	overflow: hidden;
}

.FilterList__items {
	flex-direction: row;
}

.FilterList__filterTitle {
	margin-right: @sp-08;
	color: @font-color-2;

	@media print {
		color: @battleship;
	}
}

.FilterList__item {
	flex-direction: row;
	margin: @sp-02;
	border-radius: 3px;
	padding: @sp-04 @sp-08;
	cursor: pointer;
	background-color: @form-field-bg;
	color: @emerald;
	transition: background-color 0.15s ease-out;

	&:focus {
		@focus-ring();
	}

	&:hover {
		background-color: @form-field-hover;
	}

	@media print {
		color: @black;
		background-color: transparent;
	}
}

.FilterList__item:not(:first-child) {
	margin-left: @sp-16;
}

.FilterList__remove {
	@icon-button-nested();
	font-size: 19px;
	padding: @sp-02;
	margin-left: @sp-08;

	@media print {
		display: none;
	}
}
