name: Npm

on:
  release:
    types: [published]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name }}

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # tag=v6.2.0
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Publish packages
        run: |
          npm ci
          npx lerna run prepack
          npx lerna publish from-package -y

      - name: Upload logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # tag=v6.0.0
        if: failure()
        with:
          name: lerna-debug-log
          path: lerna-debug.log
