name: Jest

on:
  push:
    branches: ['*']

permissions: read-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # tag=v6.1.0
        with:
          node-version: 22

      - name: Run tests
        run: |
          npm ci
          npx lerna run prepack
          npm run test-ci
        env:
          TZ: America/Toronto

      - name: Publish test report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # tag=v6.0.1
        if: always()
        with:
          report_paths: build/junit.xml

      - name: Publish coverage report
        uses: 5monkeys/cobertura-action@ee5787cc56634acddedc51f21c7947985531e6eb # tag=v14
        with:
          path: coverage/cobertura-coverage.xml
          minimum_coverage: 100
          fail_below_threshold: true
