@import '../less/fonts';

.FontsStory {
	margin-right: 20px;
}

.FontsStory tr:not(:last-child) {
	border-bottom: 1px solid fade(@white, 15%);
}

.FontsStory th {
	text-align: left;
}

.FontsStory td {
	vertical-align: baseline;
}
.FontsStory td:not(:last-child) {
	padding-right: 24px;
}

.font-indicator {
	@font-10-400();
	color: @font-color-3;
}

.font-notice {
	@font-10-400();
	color: @orange;
}

.font-footer {
	@font-10-400();
}

.font-label {
	@font-10-600-uc();
	color: @font-color-2;
}

.font-error {
	@font-10-600-uc();
}

.font-field-hint {
	@font-12-400();
	color: @sky;
}

.font-crumbs {
	@font-12-400();
	color: @font-color-2;
}

.font-body-small {
	@font-12-400();
}

.font-cmd-header {
	@font-12-600-uc();
	color: @font-color-3;
}

.font-table-title {
	@font-12-600-uc();
	color: @font-color-2;
}

.font-button-small {
	@font-12-600-uc();
}

.font-body-disabled {
	@font-14-400();
	color: @font-color-3;
}

.font-body-dim {
	@font-14-400();
	color: @font-color-2;
}

.font-body-medium {
	@font-14-400();
}

.font-important {
	@font-14-600();
}

.font-button-medium {
	@font-14-600-uc();
}

.font-empty-msg {
	@font-16-400();
	color: @font-color-3;
}

.font-body-large {
	@font-16-400();
}

.font-product {
	@font-16-400-sp2();
}

.font-title-small {
	@font-16-600();
}

.font-button-large {
	@font-16-600-uc();
}

.font-title-medium {
	@font-18-400();
}

.font-title-large {
	@font-24-400();
}

.font-display-large {
	@font-68-300();
}
